<div id="countries">
    <div class="container padding" data-aos="fade-up">
        <div class="text-center pb-5">
            <h4>List of countries we monitor and forecast</h4>
            <hr class="mt-0 mb-0 hr_sizing">
        </div> 
        <div class="row">
            <div class="col-lg-3 col-12">
                <h6>Products</h6>
                <div class="card card_1">
                    <div class="card-body">
                        <ul class="text-muted list-unstyled">
                            <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="bar-chart"></i><a class="word-hover1 text-decoration-none" href="{% url 'data-main' %}">Risk Analysis</a></li>
                            <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="pen-tool"></i><a class="word-hover1 text-decoration-none" href="{% url 'blog-blogs' %}" traget="_blank">Expert Blog</a></li>
                            <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="file-text"></i><a class="word-hover1 text-decoration-none" href="{% url 'blog-coming-soon' %}" traget="_blank">Report</a></li>
                            <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="mail"></i><a class="word-hover1 text-decoration-none" href="mailto:politicaluncertainty@gmail.com">Contact Us</a></li>
                            <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="download"></i><a class="word-hover1 text-decoration-none" href="{% url 'blog-archive' %}#downloads" traget="_blank">Download</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <h6 class="padding_data-countries">Countries</h6>
                <div class="row">
                    <div class="col-3">
                        <ul class="text-muted list-unstyled">
                            {% for country in allcountries %}
                            {% if forloop.counter|add:3|divisibleby:4 %}
                            <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-detail' country %}">{{country}}</a></li>
                            
                            {% endif %}
                            {%endfor %}
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="text-muted list-unstyled">
                            {% for country in allcountries %}
                            {% if forloop.counter|add:2|divisibleby:4 %}
                            <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-detail' country %}">{{country}}</a></li>
                            
                            {% endif %}
                            {%endfor %}
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="text-muted list-unstyled">
                            {% for country in allcountries %}
                            {% if forloop.counter|add:1|divisibleby:4 %}
                            <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-detail' country %}">{{country}}</a></li>
                            
                            {% endif %}
                            {%endfor %}
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="text-muted list-unstyled">
                            {% for country in allcountries %}
                            {% if forloop.counter|add:0|divisibleby:4 %}
                            <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-detail' country %}">{{country}}</a></li>
                            
                            {% endif %}
                            {%endfor %}
                        </ul>
                    </div>
                </div>
                <a href="{% url 'blog-coming-soon' %}" role="button" class="word-hover2 text-decoration-none">More Countries are coming soon</a>
            </div>
        </div>
    </div>
</div>