{% extends "blog/base.html" %}

{% block content %}  
<!--Introduction and menu-->
        <div class="container-fluid backgroundimg15 position-relative padding_data-detail">
            <div class="row pb-lg-6 padding_data-detail-country">
                <div class="col-lg-9 col-md-6 col-sm-6">
                    <h1 class="text-white float-left">{{country}} Overview</h1>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img class="backgroundimg-data-detail pt-3 float-lg-right float-left" src="{{CountryData.flag.url}}" alt="Flag">
                </div>
                </div>
                <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">GDP | GDP/Capita</p>
                    <p class="text-white mb-0 pb-0 text-size-small">${{GDP}}B ({{Growth}}%) | ${{GDPPC}}B</p>
                    <p class="text-white text-size-small">RANK {{Rank}} OF 240</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">Exports | Imports</p>
                    <p class="text-white text-size-small">${{ExportVolume}}B | ${{ImportVolume}}B</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">FDI</p>
                    <p class="text-white text-size-small">${{FDI}}B</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">Volume Stock Traded</p>
                    <p class="text-white text-size-small">${{VolumeStocksTraded}}B</p>
                </div>
            </div>
        </div>

        <div class="container bg-white py-3">
            <h3 class="pb-0 mb-0">About {{country}}</h3>
            <p class="text-muted text-size-small">Some Key facts about {{country}}</p>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li><strong>Official Language:</strong> <p>{{CountryData.language}}</p></li>
                        <li><strong>Capital:</strong> <p>{{CountryData.capital}}</p></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li><strong>Population:</strong> <p>{{Population}} Mil.</p></li>
                        <li><strong>Currency:</strong> <p>{{CountryData.currency}}</p></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="gradient"></div>
        <div class="containter">
            <div class="row d-flex shadow-sm bg-white py-3">
                <div class="col-md-2 col-lg-2 d-sm-block d-none"></div>
                <div class="col-md-2 col-lg-2 col-6 justify-content-center">
                    <a role="button" class="service_button text-decoration-none text-size-small" href="#subscribe"><i class="grey feather_16 mr-1" data-feather="send"></i>Subscribe Now</a>
                </div>
                <div class="col-md-2 col-lg-2 col-6 justify-content-center">
                    <a role="button" class="service_button text-decoration-none text-size-small" href="mailto:politicaluncertainty@gmail.com"><i class="grey feather_16 mr-1" data-feather="mail"></i>Get in Contact</a>
                </div>
                <div class="col-md-2 col-lg-2 col-6 justify-content-center">
                    <a role="button" class="service_button text-decoration-none text-size-small" href="{% url 'blog-blogs' %}"><i class="grey feather_16 mr-1" data-feather="file-text"></i>Blog</a>
                </div>
                <div class="col-md-2 col-lg-2 col-6 justify-content-center">
                    <a role="button" class="service_button text-decoration-none text-size-small" href="{% url 'blog-coming-soon' %}"><i class="grey feather_16 mr-1" data-feather="bar-chart"></i>Risk Analysis</a>
                </div>
                <div class="col-md-2 col-lg-2 d-sm-block d-none"></div>
            </div>
        </div>
    
<!--Section 1-->    
    <div class="bg-light">
        <div class="container py-3" id="worldmap">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-sm-12 py-3 bg-white border rounded">
                    <h3 class="text-muted text-center">Political Uncertainty - {{country}}</h3>
                    <p class="text-muted text-center">The change of uncertainty a month and a year before {% now "F Y" %}  </p>
                    <div class="plotsizing">{{ worldmap | safe }}</div>
                    {% include "data/legend.html" %}
                    <div class="float-left ml-2"><p class="text-size-small pb-0 mb-0">Source: <a href="#" target="_blank" class="text-decoration-none service_button">Political Uncertainty by Senne & Reinthaler</a> | Data: <a href="https://trends.google.com/" target="_blank" class="text-decoration-none service_button">Google Trend&trade;</a>
                        <br>The Graph "Political Uncertainty Trends - Global" shows the percentage change of political uncertainty in comparison to the previous month</p>
                        <p class="p-0 m-0 text-size-small">The grey countries in the Graph are not yet available | <a href="{% url 'blog-coming-soon' %}" class="text-decoration-none service_button">coming soon</a></p>
                        <p class="p-0 m-0 text-size-small"><a href="{% url 'blog-disclaimer' %}" class="text-decoration-none service_button">Data Disclaimer</a></p>
                    </div>
                </div>
            </div>
        </div>

<!--Section 2-->
        <!--Graph 2-->
        <div class="container pb-3" id="trend">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded pt-1 pb-2"> <!--space only with the shadow class-->
                        <h5 class="text-muted text-center pt-2">Monthly Champ (Index)</h5>
                        <div class="text-center pb-2 pt-1">
                            <span class="text-center rounded py-2 px-2 bg-trend-green"><i class="mr-1 feather_16" data-feather="arrow-down"></i>{{ trendingmonth|first|first | safe }} {{ trendingmonth|first|last | safe }}%</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded pt-1 pb-2">
                        <h5 class="text-muted text-center pt-2">Monthly Champ (Category 1)</h5>
                        <div class="text-center pb-2 pt-1">
                            <span class="text-center rounded py-2 px-2 bg-trend-red"><i class="mr-1 feather_16" data-feather="arrow-up"></i>{{ trendingmonth|last|first | safe }} {{ trendingmonth|last|last | safe }}%</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded pt-1 pb-2">
                        <h5 class="text-muted text-center pt-2">Monthly Champ (Category 2)</h5>
                        <div class="text-center pb-2 pt-1">
                            <span class="text-center rounded py-2 px-2 bg-trend-green"><i class="mr-1 feather_16" data-feather="arrow-down"></i>{{ trendingannual|first|first | safe }} {{ trendingannual|first|last | safe }}%</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded pt-1 pb-2">
                        <h5 class="text-muted text-center pt-2">Monthly Champ (Category 3)</h5>
                        <div class="text-center pb-2 pt-1">
                            <span class="text-center rounded py-2 px-2 bg-trend-red"><i class="mr-1 feather_16" data-feather="arrow-up"></i>{{ trendingannual|last|first | safe }} {{ trendingannual|last|last | safe }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 3-->
        <div class="container pb-3" id="countries">
            <div class="row justify-content-center">
                <div class="col-lg-12 bg-white border rounded py-3">
                    <h3 class="text-muted text-center">Uncertainty Timeline - {{country}}</h3>
                    <div class="plotsizing2">{{ linegraph | safe }}</div>
                    <div class="float-left ml-2"><p class="text-size-small pb-0 mb-0">Source: <a href="#" target="_blank" class="text-decoration-none service_button">Political Uncertainty by Senne & Reinthaler</a> | Data: <a href="https://trends.google.com/" target="_blank" class="text-decoration-none service_button">Google Trend&trade;</a>
                        <br>The Graph "Political Uncertainty Trends - Global" shows the percentage change of political uncertainty in comparison to the previous month</p>
                        <p class="p-0 m-0 text-size-small">The grey countries in the Graph are not yet available | <a href="{% url 'blog-coming-soon' %}" class="text-decoration-none service_button">coming soon</a></p>
                        <p class="p-0 m-0 text-size-small"><a href="{% url 'blog-disclaimer' %}" class="text-decoration-none service_button">Data Disclaimer</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Section 4-->
{% include "data/countries.html" %}
  
   
{% endblock content %}

<! The data for our dataset [field.name for field in SBPRI._meta.get_fields()] [{% for item in SBPRI %}{{item.Bolivia}},{% endfor %}]  {% for item in SBPRI %}{{item.Bolivia}},{% endfor %} >
