{% extends "blog/base.html" %}

{% block content %}  
<!--Introduction and menu-->
        <div class="container-fluid backgroundimg15 position-relative pt-6">
            <div class="row">
                <div class="col-lg-9 pb-3">
                    <h1 class="text-white float-left">Uncertainty: {{country}}</h1>
                    <p class="text-white float-left">Create Certainty in an uncertain world for your business with our political risk tools.</p>
                </div>
                <div class="col-lg-3">
                    <p class="card-text text-white text-size-small">Country Flag</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">GDP | GDP/Capita</p>
                    <p class="text-white mb-0 pb-0 text-size-small">$400B (+10%) | $400B</p>
                    <p class="text-white text-size-small">RANK 1 OF 20</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">Exports | Imports</p>
                    <p class="text-white text-size-small">$400B | $400B</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">FDI</p>
                    <p class="text-white text-size-small">$300B (+10%)</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-white mb-0 pb-0 text-size-small font-weight-bold">2019</p>
                    <p class="text-white my-0 py-0 text-size-small">Volume Stock Traded</p>
                    <p class="text-white text-size-small">$300B</p>
                </div>
            </div>
        </div>

        <div class="container bg-white py-3">
            <h3>About {{country}}</h3>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li>Official Language: Spanish</li>
                        <li>Capital: Carracas</li>
                        <li>Population: 14.000.000</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list-unstyled">
                        <li>Official Language: Spanish</li>
                        <li>Capital: Carracas</li>
                        <li>People: Spanish</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <p>Country map</p>
                </div>
            </div>
        </div>

    <div class="gradient">
        <div class="containter pt-3">
            <div class="row justify-content-center shadow-sm bg-white py-3 text-center">
                <div class="d-inline-flex">
                    <div class="col-lg-4 col-sm-12">
                        <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="#subscribe"><i class="ml-1 mt-1 orange pull-left feather_16" data-feather="send"></i>Subscribe Now</a>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="#mailto:politicaluncertainty@gmail.com"><i class="mt-1 orange pull-left feather_16" data-feather="mail"></i>Get in Contact</a>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="{% url 'blog-blogs' %}"><i class="mt-1 orange pull-left feather_16" data-feather="file-text"></i>Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--Section 1-->    
    <div class="bg-light">
        <div class="container py-3" id="worldmap">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-sm-12 py-3 bg-white border rounded">
                    <h3 class="text-muted text-center">Political Uncertainty (Worldwide)</h3>
                    <p class="text-muted text-center">The Graph shows the Political Uncertainty changes worldwide monthly from March to April</p>
                    <div class="plotsizing">{{ worldmap | safe }}</div>
                    <div class="float-left ml-2"><p class="text-size-small">Source: <a href="" class="text-decoration-none">Political Risk Index by Senne & Reinthaler</a><br>*Percentage change in comparison to the previous month</p>
                    </div>
                </div>
            </div>
        </div>

<!--Section 3-->
        <div class="container pb-3" id="trend" >
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded"> <!--space only with the shadow class-->
                        <h5 class="text-muted text-center pt-2">Trend 1</h5>
                        <div class="text-muted">{{ trend2 | safe }}</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded">
                        <h5 class="text-muted text-center pt-2">Trend 2</h5>
                        <div>{{ trend2 | safe }}</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded">
                        <h5 class="text-muted text-center pt-2">Trend 3</h5>
                        <div>{{ trend3 | safe }}</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-white border rounded">
                        <h5 class="text-muted text-center pt-2">Trend 4</h5>
                        <div>{{ trend4 | safe }}</div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 2-->
        <div class="container pb-3" id="countries">
            <div class="row justify-content-center">
                <div class="col-lg-12 bg-white border rounded py-3">
                    <h3 class="text-muted text-center">Political Uncrtainty - Comparison Countries</h3>
                    <div class="plotsizing2">{{ linegraph | safe }}</div>
                    <div class="float-left ml-2"><p class="text-size-small">Source: <a href="" class="text-decoration-none">Political Risk Index by Senne & Reinthaler</a><br>*Percentage change in comparison to the previous month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--Section 4-->
        <div class="container padding" data-aos="fade-up">
            <div class="text-center pb-5">
                <h3>List of countries we monitor and forecast</h3>
                <hr class="mt-0 mb-0 hr_sizing">
            </div> 
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <h6>Products</h6>
                    <div class="card card_1">
                        <div class="card-body">
                            <ul class="text-muted list-unstyled">
                                <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="bar-chart"></i><a class="word-hover1 text-decoration-none" href="#worldmap">Risk Analysis</a></li>
                                <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="pen-tool"></i><a class="word-hover1 text-decoration-none" href="{% url 'blog-blogs' %}" traget="_blank">Expert Blog</a></li>
                                <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="file-text"></i><a class="word-hover1 text-decoration-none" href="{% url 'blog-coming-soon' %}" traget="_blank">Report</a></li>
                                <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="mail"></i><a class="word-hover1 text-decoration-none" href="mailto:politicaluncertainty@gmail.com">Contact Us</a></li>
                                <li class="pt-3"><i class="mr-4 mt-1 grey pull-left feather_16" data-feather="download"></i><a class="word-hover1 text-decoration-none" href="{% url 'blog-archive' %}#downloads" traget="_blank">Download</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <h6>Countries</h6>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <ul class="text-muted list-unstyled">
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Argentina</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Australia</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Austria</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <ul class="text-muted list-unstyled">
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <ul class="text-muted list-unstyled">
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <ul class="text-muted list-unstyled">
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                                <li class="pt-3"><a class="service_button text-decoration-none" href="{% url 'data-main' %}" target="_blank">Africa</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="{% url 'blog-coming-soon' %}" role="button" class="word-hover2 text-decoration-none">More Countries are coming soon</a>
                </div>
            </div>
        </div>

  
   
{% endblock content %}

<! The data for our dataset [field.name for field in SBPRI._meta.get_fields()] [{% for item in SBPRI %}{{item.Bolivia}},{% endfor %}]  {% for item in SBPRI %}{{item.Bolivia}},{% endfor %} >
