body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #ac8f3f;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #f0e7dd;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .behind-content {
    background: #e7e1c6;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #c9b971;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    object-fit: cover;
  }

  .content-img {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    object-fit: cover;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .word-wrap {
    word-wrap: break-word;}

  .bigger {
    width: 100px !important;
    height: 100px !important;
    background-size: 2000% !important;
    background-position: 0px 0px;
  }

  .smaller {
    width: 50px;
    height: 50px;
    background-size: 2000%;
    background-position: 0px 0px;
  }

  /*Section 1*/
/*Background Image 1*/

.backgroundimg{
  background: url('https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/CityCloud.jpg') no-repeat center center; /*"no-repeat center center fixed!" mit fixed nur, wenn Bild über die gesamte Seite gehen soll!!*/
  background-position:center;
  -webkit-background-size:cover;
  -moz-background-size:cover; /*damit sollte es bei allen browsern funktionieren*/
  -o-background-size:cover; /*damit sollte es bei allen browsern funktionieren*/
  height:80vh;
  opacity:0.7;
}


/*Pictures Section 2 (Card)*/
.imgblack {
  filter: grayscale(100%);
  opacity:0.8;
}


/*Description padding (oben und unten), padding-bottom oder padding-top (nur oben oder unten)*/
.hr_sizing{
  border-width: 2px;
  width:10%;
}

/*Political Risk Image Opacity*/
.img_opct_70{
  opacity:0.7;
}

/* footer social icons */
ul.social-network {
list-style: none;
display: inline;
}
ul.social-network li {
display: inline;
margin: 0 5px;
}

.social-network a.icoFacebook:hover {
background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
background-color:#007bb7;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
color:#fff;
}

.social-circle li a {
display:inline-block;
position:relative;
margin:0 auto 0 auto;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
text-align:center;
width: 50px;
height: 50px;
font-size:20px;
}
.social-circle li i {
margin:0;
line-height:50px;
text-align: center;
}

.social-network a {
background-color: #D3D3D3;   
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-google-plus,
.fa-linkedin{
    color: white;
}

/*footer*/
footer{
  color:#ffffff;
}

footer a:hover {
  text-decoration: none;
  color: black;
}

footer a {
  color: #ffffff;
}

/*Padding class 6*/
.pt-6,
.py-6 {
  padding-top: 5rem !important;
}

.pr-6,
.px-6 {
  padding-right: 5rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
  padding-left: 5rem !important;
}