{% extends "blog/base.html" %}

{% block content %}

<div class="container-fluid backgroundimg6 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center rounded py-4 px-6">
            <h1 class="align-middle pb-2 text-white">Us & Our Mission</h1>
            <div class="card_7 rounded py-3 px-3">
                <h5>Our goal is to advance the understanding of political risks.</h5>
                <h5>The idea started as a research paper and since then has evolved into a novel approach on political risk.</h5>
                <div class="row d-inline-flex">
                    <div class="col-lg-4 col-sm-12 pt-2">
                        <a href="#" role="button" class="btn btn-secondary data_button_custom"><i class="fa fa-donate mt-1 orange pull-left"></i>Donate</a> 
                    </div>
                    <div class="col-lg-4 col-sm-12 pt-2">
                        <a href="mailto:politicaluncertainty@gmail.com" role="button" class="btn btn-secondary data_button_custom"><i class="fa fa-download mt-1 orange pull-left"></i>Cooperations</a>
                    </div>
                    <div class="col-lg-4 col-sm-12 pt-2">
                        <a href="#ourmission" role="button" class="btn btn-secondary data_button_custom"><i class="fa fa-download mt-1 orange pull-left"></i>Our Mission</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Section 1-->
<div class="container pt-5 pb-6"  id="ourmission">
    <div class="text-center pb-5">
        <h3>Our Mission</h3>
        <p class="text-muted">Turning uncertainties into opportunities</p>
        <hr class="hr_sizing">
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 pt-2 text-center d-flex" data-aos="fade-up" data-aos-offset="170">
            <div class="card card_1">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                    </div>
                    <h4 class="card-title">Understand</h4>
                    <p class="card-text text-muted">We hope to increase our understanding for political risk and uncertainty around the world.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="185">
            <div class="card card_2">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                    </div>
                    <h4 class="card-title">Inform</h4>
                    <p class="card-text text-muted">Our goal is to provide helpful knowledge for international businesses. So that you can thrive abroad.</p>
                </div>
                <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="200">
            <div class="card card_3">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_05.png">
                    </div>
                    <h4 class="card-title">Thrive</h4>
                    <p class="card-text text-muted">We want companies to be able to excel world wide. So that the global population can flourish.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Section 1 - How it all started-->
<div class="bg-light">
    <div class="container padding" data-aos="fade-up">
        <div class="text-center">
            <h3 class="mb-2 mt-0">How sure came to life</h3>
            <p class="text-muted">Everything has a beginning</p>
            <hr class="mt-0 mb-0 pb-5 hr_sizing">
            <p class="mb-0 mt-0 text-justify text-muted"> 
                During our studies at one of the most modern campuses in Europe the WU we were encountered with a variety of political risk tools. 
                However, none of them were truly accessible. Thinking about this issue the idea arose to evaluate political risk in an entirely novel way. 
                We wanted data which could grasp a wide variety of perspectives and information which is easily accessible to most. This lead to Google&trade;. 
                Since then we have been advancing or research and our approaches to enable a solution for political risk for small, middle and large businesses. 
                The goal is to advance the understanding of political risk of as many as possible. Learn more about ou <br>
                <a href="test_white paper.pdf" download="text_white paper.pdf" role="button" class="word-hover1 text-decoration-none">Learn More & Download The White Paper</a>
            </p>
        </div>
        <div class="row pb-3 justify-content-center">
            <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/report_01.png">
        </div> 
    </div>
</div>

<!--Donation Area-->
<div class="container padding">
    <div class="text-center pb-5" data-aos="fade-up">
        <h3>Just the Beginning of Something Big</h3>
        <hr class="mt-0 mb-0 hr_sizing">
    </div> 
    <div class="row d-felx align-items-center">
        <div class="col-lg-8 col-md-12 text-center" data-aos="fade-right">
            <h6 class="float-lg-left">Our Mission is only working with your support</h6> <br>
            <p class="pt-2 text-muted text-justify">We are working on new services to make political risks easier to grasp, monitor and forecast. 
                Since we are at the beginning of our endeavour for high value political risk evaluation most of our services are free of charge at the moment. 
                Therefore, we rely on cooperation, funding and donations – feel free to contact us for exciting new cooperation or make a donation to support us so that we can further support your business.
            </p>
            <div class="float-left">
                <a href="mailto:politicaluncertainty@gmail.com" role="button" class="word-hover1 text-decoration-none">Cooperations - Contact Us</a>
                <a href="#" role="button" class="ml-3 word-hover1 text-decoration-none">Donate</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12  d-flex justify-content-center" data-aos="fade-left">
            <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/customize_01.png" alt="Card image">
        </div>
    </div>
</div>


<!--Section 6 BREAK-->
<div class="container-fluid backgroundimg10 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center position-absolute">
        <div class="col-md-12 text-center text-white" data-aos="zoom-in">
            <h1 class="align-middle pb-2">The Power of Creation Relys Behind a Great Team</h1>
        </div>
    </div>
</div>

<!--Team-->
<div class="container padding"  data-aos="fade-up">
    <div class="text-center pb-5">
        <h3>The Team</h3>
        <p class="text-muted">Together Everyone Achieves More - Good cooperation is the key to innovaiton and progress</p>
        <hr class="hr_sizing">
        <!--<img class="svgsizing" src="svg/worldmap_01.svg"> d-flex und flex-fill-> Cards with different Text-lenghts same heigt when word wrapping-->
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-center pt-2 d-flex justify-content-center">
            <div class="card">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="{{profilesenne.image.url}}">
                    </div>
                    <h4 class="card-title">Alexander Senne</h4>
                    <p class="card-text text-muted">Head of Research and Development</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 text-center pt-2 d-flex justify-content-center">
            <div class="card">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="">
                    </div>
                    <h4 class="card-title">David Reinthaler</h4> <!--Monitor-->
                    <p class="card-text text-muted">Head of Operations and Finance</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ profiles. }}

{% endblock content %}
