<!--Additional Sections - not used in the current form!-->

<!--Section 2 Keymessages-->
<!-- Falls doch nochmal die erste Section irgendwo eingefügt werden soll
<div class="container padding">
    <div class="text-center pb-5" data-aos="fade-up" data-aos-offset="200">
        <h3>Political Risks Are On The Rise</h3>
        <p class="text-muted">Let's overcome them</p>
        <hr class="hr_sizing">
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 pt-2 text-center d-flex" data-aos="fade-up" data-aos-offset="170">
            <div class="card card_1">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                    </div>
                    <a href="{% url 'blog-political-risk' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Understand</h4></a>
                    <p class="card-text text-muted">the political risk spectrum and tackle these risks with our unique approach</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="185">
            <div class="card card_2">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                    </div>
                    <a href="{% url 'data-main' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Engage</h4></a>
                    <p class="card-text text-muted">risks with the monitoring and forecasting possibilities for the short and long term</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="200">
            <div class="card card_3">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_05.png">
                    </div>
                    <a href="{% url 'blog-coming-soon' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Create</h4></a>
                    <p class="card-text text-muted">personalised political risk tools - <br>
                        easily, quickly and precisely</p>
                </div>
            </div>
        </div>
    </div>
</div>-->

            
<!--Section 3 - Our Services
<div class="bg-light">
    <div class="container padding">
        <div data-aos="fade-up" data-aos-offset="200">
            <div class="pb-4 row justify-content-center">
                <div class="col-md-10">
                    <h3 class="text-center">Our Services</h3>
                    <hr class="mt-0 mb-0 hr_sizing pb-4">
                    <p class="mb-0 mt-0 text-muted">
                         Information is a key element to overcoming political uncertainty. Therefore, we provide capable political risk tools to monitor and forecast political risk for your business.
                    <sub>*</sub>
                    </p>
                    <div class="pt-2">
                        <cite class="text-muted fs-small text-justify"><sup>*</sup>The following services are currently not available: Quarterly Reports, Political Risk Portfolios Forecasting Tools and the Profile Function.</cite>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/analysis_01.png">
                            </div>
                            <a href="{% url 'data-main' %}" role="button"class="card-title service_button stretched-link text-decoration-none"><h4>Uncertainty Analysis</h4></a>
                            <p class="card-text text-muted">Experience our Political Risk Analysis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border card-border-color1 shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/blog_02.png">
                            </div>
                            <a href="{% url 'blog-blogs' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Expert Blog</h4></a>
                            <p class="card-text text-muted">Get further strategic insights on uncertainty and risk</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border card-border-color2 shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/report_01.png">
                            </div>
                            <a href="{% url 'blog-coming-soon' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Quarterly Reports</h4></a>
                            <p class="card-text text-muted">Stay up-to-date on your relevant business risks</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/specify_01.png">
                            </div>
                            <a href="{% url 'blog-coming-soon' %}" role="button" class="card-title service_button text-decoration-none stretched-link"><h4>Trend Analysis</h4></a>
                            <p class="card-text text-muted">Experience our specified Trend Analysis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 pt-4 d-flex justify-content-center">
                    <a href="#politicalrisktools" role="button" class="word-hover1 text-decoration-none">View All Services</a>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!--Section 12 Methodology - könnte wieder eingeführt werden, aber passt momentan nicht dazu
    <div class="bg-light">  
        <div class="container bg-light padding">  
            <div class="pb-5 text-center">
                <h3>Methodology</h3>
                <hr class="mt-0 mb-0 hr_sizing">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-12">
                    <div class="pr-2">
                        <h3>Unique measuring</h3>
                        <p>how is it done?</p>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <ul>
                                <li class="text-muted">Political risk of each country is linked to Google Searches</li>
                                <li class="text-muted">Google Searches show uncertainty in a country</li>
                                <li class="text-muted">Wordlisting is very important to create index</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 p-0 m-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-75" src="svg/unique_02.png" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-xs-12 p-0 m-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-75" src="svg/implement_01.png" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="text-justify pt-3 pl-2 pr-1">
                        <h3>Easy to implement</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit porro fuga tempore eos quod dolores, consequuntur, alias debitis sapiente expedita, sunt temporibus! Quod asperiores soluta sint corrupti veniam eveniet.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-xs-12">
                    <div class="text-justify pt-3 pr-2">
                        <h3>Changeable</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit porro fuga tempore eos quod dolores, consequuntur, alias debitis sapiente expedita, sunt temporibus! Quod asperiores soluta sint corrupti veniam eveniet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 p-0 m-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-75" src="svg/changeable_02.png" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>--> 

<!--Section 13 - Quarterly Reports-->
    <!--<div class="bg-light">
        <div data-aos="fade-up">
            <div class="container padding">
                <div class="text-center">
                    <h3 class="mb-2 mt-0">Further Services - Quarterly Reports</h3>
                    <hr class="mt-0 mb-0 pb-5 hr_sizing">
                    <p class="mb-0 mt-0 text-justify text-muted"> In Addition to our frequent Political Risk Analysis in our Blog section, we also provide you with our Quarterly Reports.
                        The quarterly reports consist of important political risk analysis of different countries on a quarterly basis.
                        We will introduce the most and least important political risks to be aware of in specific countries.
                        Furthermore, we discuss the overall political situation and also provide a forecast for different countries.
                        If you want to know more about our quarterly reports, just download the latest version below and subscribe to our newsletter to get notified, when a new report is availabe.
                        Tis service is currently free of charge.
                    </p>
                </div>
            <div class="row pb-3 justify-content-center">
                <img class="svgsizing" src="../static/svg/reports_01.png">
            </div> 
            <div class="text-center">
                <a href="test_white paper.pdf" download="text_white paper.pdf" type="button" class="btn btn-outline-danger">coming soon</a>
            </div>
        </div>
    </div>
    </div> -->

    <!--Section 5 - Risk Providers (Carousel)-->
    <div class="bg-light">
        <div class="container padding" data-aos="fade-up" id="riskproviders">
            <div class="pb-5 text-center">
                <h3>Political Risk Providers</h3>
                <p>The following selection shows different political and country risk data providers</p>
                <hr class="hr_sizing">
            </div>
            <div id="Carousel_Companies" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-sm-6 text-center d-flex">
                            <div class="card">
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-1">
                                        <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                    </div>
                                    <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.prsgroup.com/explore-our-products/international-country-risk-guide/"><h5>Country Risk</h5></a>
                                    <p class="card-text text-justify text-muted">The PRS Group provides many different political risk indices</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-center d-flex">
                            <div class="card">
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-1">
                                        <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                    </div>
                                    <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.policyuncertainty.com/"><h5>Economic Policy Uncertainty</h5></a>
                                    <p class="card-text text-justify text-muted">The economic policy uncertainty index is based on newspaper articles</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--Second Carousel Group-->
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-sm-6 text-center d-flex">
                            <div class="card">
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-1">
                                        <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                    </div>
                                    <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.transparency.org/en/cpi/2020/index/nzl "><h5>Corruption Perception Index</h5></a>
                                    <p class="card-text text-justify text-muted">Transparency international provides an political risk index specific for corruption</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-center d-flex">
                            <div class="card">
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-1">
                                        <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                    </div>
                                    <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.marsh.com/us/insights/research/political-risk-map-2020.html"><h5>Political Risk Map</h5></a>
                                    <p class="card-text text-justify text-muted">The political risk map from the Marsh LLC is based on the data from Fitch Solutions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                </div>
                <a class="carousel-control-prev" href="#Carousel_Companies" role="button" data-slide="prev">
                    <i class="fa fa-3x fa-angle-left" aria-hidden="true"></i> <!--normalerweise ist ein span tag hier, aber mit fa kann es besser gestyled werden-->
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel_Companies" role="button" data-slide="next">
                    <i class="fa fa-3x fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>