{% extends "blog/base.html" %}

{% block content %}
<!--Section 1-->
        <div class="container-fluid backgroundimg11 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12 text-center rounded py-4 px-6">
                    <h1 class="align-middle pb-2 text-white">knowledge is the Key</h1>
                    <div class="card_7 rounded py-3 px-3">
                        <h5>Experience our Download Section and recommended literatures, political risk providers.</h5>
                        <div class="row d-inline-flex">
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#downloads" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="download"></i>Downloads</a> 
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#recommendedliterature" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="book"></i>Risk Literature</a>
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#riskproviders" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="home"></i>Risk Providers</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 2-->
        <div class="container pt-5 pb-6">
            <div class="text-center">
                <h3>Download Section</h3>
                <p class="text-muted">Download everything you need to know about our data</p>
                <hr class="hr_sizing">
                <!--<img class="svgsizing" src="svg/worldmap_01.svg"> d-flex und flex-fill-> Cards with different Text-lenghts same heigt when word wrapping-->
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                            </div>
                            <h4 class="card-title">Report</h4>
                            <p class="card-text text-muted">Quarterly Report of the Second Quarter</p>
                        </div>
                        <div class="pb-3 pt-1">
                            <a href="{% url 'blog-coming-soon' %}" role="button" class="btn btn-outline-danger">coming soon</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_05.png">
                            </div>
                            <h4 class="card-title">White Paper</h4> <!--Monitor-->
                            <p class="card-text text-muted">For an overview about our political risk tool</p>
                        </div>
                        <div class="pb-3 pt-1">
                            <a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="btn btn-outline-secondary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                            </div>
                            <h4 class="card-title">Methodology</h4>
                            <p class="card-text text-muted">For a detailed information about the creation of our poltical risk tool with the usage of Google Trends</p>
                        </div>
                        <div class="pb-3 pt-1">
                            <a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="btn btn-outline-secondary">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 5-->
        <div class="bg-light">
            <div class="container padding" id="recommendedliterature">
                <div class="text-center">
                    <h3>Recommended Literature</h3>
                    <p class="text-muted">Bellow is a selection of literatures which provide a useful insight in the world of political risks</p>
                    <hr class="hr_sizing">
                    <!--<img class="svgsizing" src="svg/worldmap_01.svg"> d-flex und flex-fill-> Cards with different Text-lenghts same heigt when word wrapping-->
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                        <div class="card">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/book_01.jpeg">
                                </div>
                                <h4 class="card-title">Recommended Literature</h4>
                                <p class="card-text text-muted">Quarterly Report of the Second Quarter</p>
                                <a href="#" class="float-right word-hover3 text-size-small text-decoration-none"><cite>Condoleezza Rice</cite></a>
                            </div>
                            <div class="pb-3 pt-1">
                                <a href="text_white paper.pdf" download="text_white paper.pdf" role="button" class="btn btn-outline-secondary">Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                        <div class="card">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/book_02.jpeg">
                                </div>
                                <h4 class="card-title">Recommended Literature</h4> <!--Monitor-->
                                <p class="card-text text-muted">For an overview about our political risk tool</p>
                            </div>
                            <div class="pb-3 pt-1">
                                <a href="text_white paper.pdf" download="text_white paper.pdf" role="button" class="btn btn-outline-secondary">Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                        <div class="card">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/book_03.jpeg">
                                </div>
                                <h4 class="card-title">Recommended Literature</h4> <!--Forecast-->
                                <p class="card-text text-muted">For a detailed information about the creation of our poltical risk tool</p>
                            </div>
                            <div class="pb-3 pt-1">
                                <a href="text_white paper.pdf" download="text_white paper.pdf" role="button" class="btn btn-outline-secondary">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 6 - Carousel Companies-->
            <div class="container padding" data-aos="fade-up" id="riskproviders">
                <div class="pb-5 text-center">
                    <h3>Political Risk Providers</h3>
                    <p>The following selection shows different political and country risk data providers</p>
                    <hr class="hr_sizing">
                </div>
                <div id="Carousel_Companies" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.prsgroup.com/explore-our-products/international-country-risk-guide/"><h5>Country Risk</h5></a>
                                        <p class="card-text text-justify text-muted">The PRS Group provides many different political risk indices</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.policyuncertainty.com/"><h5>Economic Policy Uncertainty</h5></a>
                                        <p class="card-text text-justify text-muted">The economic policy uncertainty index provides data based on newspaper articles</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <!--Second Carousel Group-->
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.transparency.org/en/cpi/2020/index/nzl "><h5>Corruption Perception Index</h5></a>
                                        <p class="card-text text-justify text-muted">Transparency international provides an political risk index specific for corruption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.marsh.com/us/insights/research/political-risk-map-2020.html"><h5>Political Risk Map</h5></a>
                                        <p class="card-text text-justify text-muted">The political risk map from the Marsh LLC is based on the data from Fitch Solutions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    </div>
                    <a class="carousel-control-prev" href="#Carousel_Companies" role="button" data-slide="prev">
                        <i class="fa fa-3x fa-angle-left" aria-hidden="true"></i> <!--normalerweise ist ein span tag hier, aber mit fa kann es besser gestyled werden-->
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Carousel_Companies" role="button" data-slide="next">
                        <i class="fa fa-3x fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div> 

<!--Section 3-->
        <div class="bg-light" id="downloads">
            <div data-aos="fade-up">
                <div class="container padding">
                    <div class="text-center pb-5">
                        <h3 class="mb-2 mt-0">Further Downloads</h3>
                        <p class="mb-0 mt-0 text-muted"> Following are all of our available download documents and scientific literatures which we recommend</p>
                        <hr class="hr_sizing">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12">
                            <ul>
                                <li class="mr-2">White Paper <a href="text_white paper.pdf" download="text_white paper.pdf" role="button" class="service_button text-decoration-none">download</a></li>
                                <li class="mr-2">Methodology <a href="text_white paper.pdf" download="text_white paper.pdf" role="button" class="service_button text-decoration-none">download</a></li>
                                <li class="mr-2">Report (2021) <a href="{% url 'blog-coming-soon' %}" role="button" class="tools-hover2 text-decoration-none">coming soon</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <img class="image-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/reports_01.png">
                        </div>
                    </div> 
                </div>
            </div>
        </div>

<!--Secion 4-->
        <div class="container-fluid backgroundimg7 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center position-absolute">
                <div class="col-md-12 text-center text-white" data-aos="zoom-in">
                    <h1 class="align-middle">Knowledge is the Key in a world full of uncertainties</h1>
                </div>
            </div>
        </div>



{% endblock content %}