{% load static %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

    
    <!-- Icons & Plotly -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <!--Script für Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <!--Plotly CDN-->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--Stylesheet von Static-->
   <link rel="stylesheet" href="{% static 'blog/style_index.css' %}"> <!--greift für alle Seiten auf diese CSS Datei zu-->
   <!--Bootstrap, link zu CSS und link zu fontawsome, erste ist link zu neuer font-family-->
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">      
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--Bootstrap CDN (Content Delivery Network - load CSS, JS and images remotely from its servers) - Dynamic Pills ist eine alte CDN kann hierfür eine neue verwendet werden?-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!--AOS Animation on Scroll-->
   <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
   <!--Cookie Consent-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
   {% if title %}
   <title>Political (Un)Certainty | {{ title }}</title>
   {% else %}
   <title>Political (Un)Certainty</title>
   {% endif %}
</head>

<body>
    <head class="site-header">
      <nav class="navbar fixed-top navbar-expand-sm navbar-light py-1"> <!--mit sticky top, beginnt der content erst nach der Navbar-->
        <div class="navbar-brand"> <!--dadurch bleibt die a class immer beim img und geht nicht ab irgendeinem viewport in die mitte-->
            <img class="svg_sizing_005" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/Logo.png" alt="sure">
            <a class="navbar-brand text-secondary" href="{% url 'blog-home' %}"><h5 class="d-inline">Political Un<span class="orange">certainty</span></h5></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav" id="navmenu">
                {% with url_name=request.resolver_match.url_name %} <!--currently using url is active-->
                <li class="nav-item {% if url_name == 'blog-home' %}active{% endif %}"><a class="nav-link" href="{% url 'blog-home' %}" >Home</a></li>
                <li class="nav-item {% if url_name == 'data-main' %}active{% endif %}"><a class="nav-link" href="{% url 'data-main' %}">Political-Risk|Index</a></li>
                <li class="nav-item {% if url_name == 'blog-political-risk' %}active{% endif %}"><a class="nav-link" href="{% url 'blog-political-risk' %}">Methodology</a></li>
                <li class="nav-item {% if url_name == 'blog-blogs' %}active{% endif %}"><a class="nav-link" href="{% url 'blog-blogs' %}">Blog</a></li>
                <li class="nav-item {% if url_name == 'blog-about' %}active{% endif %}"><a class="nav-link" href="{% url 'blog-about' %}">About</a></li>
                <li class="nav-item pr-3 {% if url_name == 'blog-library' %}active{% endif %}"><a class="nav-link" href="{% url 'blog-library' %}">Library</a></li>
                {% endwith %}
                <!--Development!-->
                    <!--{% if user.is_authenticated %}--> <!--Conditional, when logged in than it only shows "logout" otherwise it shows login and register-->
                    <!--<li class="nav-item"><a class="nav-link text-dark" href="{% url 'post-create' %}">New Post</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link text-dark" href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{% url 'login' %}">Login</a></li>
                    {% endif %}-->
            </ul>    
        </div>
    </nav>
</head>



      {% if messages %}
      <div class="container pt-6" id="message_container"> <!--id ist für setTimout - message disappears afert 3 seconds - siehe code unten-->
      {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
              {{ message }}
              </div>
      {% endfor %}
      </div>
      {% endif %}


      {% block content %}{% endblock content %} 

<!--Cookie Consent-->
    <div class="alert text-center cookiealert" role="alert">
        This website uses Cookies, Google Analytics for analysis and statistics. Cookies help us to improve the user experience of the website. By using the website you agree with the usage of cookies. Further informations are in our data protection disclaimer. <a href="https://cookiesandyou.com/" class="service_button text-decoration-none" target="_blank">Learn more</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            I agree
        </button>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

<!--Footer-->
<footer class="p-1 bg-secondary">
  <div class="container pb-4 pt-5" id="subscribe">
      <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
              <div class="text-center">
                  <h2>STAY UP TO DATE</h2>
                  <form action="{% url 'subscription'%}" method="POST">
                    {% csrf_token %}
                    {% for field in subscribeform %}
                    <div class="input-group">
                        {{ field }}
                        <div class="input-group-append">
                            <input class="btn btn-light" type="submit" value="Subscribe now">
                        </div>
                    </div>
                    {% endfor %}
                </form>
              
              </div>
          </div>
      </div>
  </div>
<!--Follow Section-->
<div class="pb-5">
  <div class="col-md-12 text-center">
      <ul class="ml-2 p-0 social-network social-circle">
          <li><a href="https://www.facebook.com/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://trends.google.de/trends/?geo=AT" target="_blank" class="icoGoogle" title="GoogleTrends"><i class="fa fa-google"></i></a></li>
          <li><a href="https://at.linkedin.com/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>				
  </div>
</div>
<!--Sitemap + Footer-->
  <div class="container">
      <div class="row pt-1 pb-2">
          <div class="col-lg-4 col-md-4 col-sm-4 col-6 pt-3 text-left text-size-footer">
              <ul class="list-unstyled m-0 p-0">
                <h6> <a href="{% url 'blog-home' %}">Home</a></h6>
                  <li><a href="{% url 'data-main' %}">Data</a></li>
                  <li><a href="{% url 'blog-blogs' %}">Blog</a></li>
                  <li><a href="{% url 'blog-library' %}">Library</a></li>
                  <li><a href="{% url 'blog-about' %}">About Us</a></li>
                  <li><a href="{% url 'blog-coming-soon' %}">Coming Soon</a></li>
                  <li><a href="{% url 'blog-political-risk' %}">Policital Uncertainty</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6 pt-3 text-left text-size-footer">
              <ul class="list-unstyled m-0 p-0">
                  <h6><a href="{% url 'blog-blogs' %}">Blog</a></h6>
                  {{ grabpost }}
                  {% for posts in Posts %}
                  <li><a href="{% url 'post-detail' posts.id %}">{{posts.title}}</a></li>
                  {% endfor %}
              </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 pt-3 text-left text-size-footer">
                  <h6>Location</h6>
                  <p class="mb-0">1100 Vienna</p>
                  <p class="mb-1"><i class="fa fa-envelope pr-2"></i>politicalriskcorp@gmail.com</p>
                  <a href="#"><i class="fa fa-bitcoin pr-2"></i>Donate</a>
          </div>
      </div>
      <hr>
      <p class="mt-3 text-size-footer">Copyright &copy; Sure - Political Risk Corporation {% now "jS F Y" %} |
        <a class="px-1" href="{% url 'blog-impressum' %}"> Legal Notice </a><span>|</span>
        <a class="px-1" href="{% url 'blog-disclaimer' %}">Disclaimer </a><span>|</span>
        <a class="px-1" href="{% url 'blog-data-privacy' %}">Data Privacy </a><span>|</span>
        <a class="px-1" href="#">Site Map</a></p>
  </div>
</footer> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--duration in milliseconts and offset in px from the original trigger point -->
    <script>
      AOS.init({
          offset: 150,
          duration: 700
      });
    </script>
    <!--onclick Function - Navbar-->
    

    <script>
        feather.replace()
    </script>

<!--message disappear-->
    <script>
        var message_ele = document.getElementById("message_container");

        setTimeout(function(){ 
        message_ele.style.display = "none"; 
        }, 5000);
    </script>

<!--navbar collapse onclick-->
    <script>
    $(document).on('click','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a:not(".dropdown-toggle")') ) {
            $(this).collapse('hide');
        }
    });
    </script>
</body>
</html>