<!--with extending it -> we can use the base.html, Interpolierung - damit wird alles von der base.html seite übernommen-->
{% extends "blog/base.html" %}

{% block content %}

<!--Blog-->
        <div class="bg-light">
            <div role="main" class="container">
                <div class="row padding">
                    <div class="col-md-8">
                    {% for post in posts %} <!--loop over posts-->
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                    <small class="text-muted">{{ post.date_posted|date:"d. F, Y" }}</small>
                                </div>
                                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2> <!--post.id is the primary key-->
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="container-fluid backgroundimg-blog rounded" style="background: url({{ post.picture.url }}) no-repeat center center">
                                        </div>
                                    </div>
                                    <div class="col-md-10 pt-3">
                                        <p class="article-content text-justify text-muted">{{ post.content|safe|truncatewords:20 }}
                                            <a class="article-title" href="{% url 'post-detail' post.id %}">Read more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                                        </p> 
                                    </div>
                                </div>
                                <!--<div class="row pt-3">
                                    <div class="col-lg-10">
                                        <img class="img-fluid rounded blog-image justify-content-center" src="{{ post.picture.url }}" alt="#">
                                        <div>
                                            <p class="article-content pt-2 text-justify text-muted">{{ post.content|truncatewords:20 }}
                                                <a class="article-title" href="{% url 'post-detail' post.id %}">Read more</a>
                                            </p> 
                                        </div>
                                    </div>
                                </div>-->
                                <!--slice hört genau bei 200 buchstaben auf!-->
                            </div>
                        </article>
                    {% endfor %}
                    {% if is_paginated %}

                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}

                    {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                </div>
                                <h4 class="card-title">What is Political Risk?</h4>
                                <p class="card-text text-muted">A brief explanation about political uncertainties and what we intend to do</p>
                            </div>
                            <div class="pb-3 pt-1">
                                <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="{% url 'blog-political-risk' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="pen-tool"></i>learn more</a>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pt-2 pb-1">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                    </div>
                                    <h4 class="card-title">Recommended Literature</h4>
                                    <p class="card-text text-muted">Want to know more about political risk? we recommend the following literature</p>
                                </div>
                                <div class="pb-3 pt-1">
                                    <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="{% url 'blog-archive' %}#recommendedliterature"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="shopping-cart"></i>Buy</a> 
                                </div>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pt-2 pb-1">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                    </div>
                                    <h4 class="card-title">Stay up to Date</h4>
                                    <p class="card-text text-muted">Want to get notified as soon as a new blog post is published?</p>
                                </div>
                                <div class="pb-3 pt-1">
                                    <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="#subscribe"><i class="mt-1 grey pull-left feather_16" data-feather="send"></i>Subscribe Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pt-2 pb-1">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                    </div>
                                    <h4 class="card-title">Werbung</h4>
                                    <p class="card-text text-muted">Want to get notified as soon as a new blog post is published?</p>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pt-2 pb-1">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                    </div>
                                    <h4 class="card-title">Werbung</h4>
                                    <p class="card-text text-muted">Want to get notified as soon as a new blog post is published?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

{% endblock content %}
