{% extends "blog/base.html" %}

{% block content %}

        <div class="container-fluid backgroundimg9 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-12 text-center py-4 px-6 text-white">
                    <h1 class="align-middle pb-2">COMING SOON</h1>
                    <h5>We are currently working on creating new Services for You</h5>
                    <p>We want to provide you with the best possible services - This may take some time<br>
                        Subscribe bellow to get notified as soon as a new service is available
                    </p>
                    <div class="row d-flex justify-content-center pt-2">
                        <div class="col-lg-6 col-sm-12 text-center">
                            <form action="{% url 'subscription'%}" method="POST">
                                {% csrf_token %}
                                {% for field in subscribeform %}
                                <div class="input-group">
                                    {{ field }}
                                    <div class="input-group-append">
                                        <input class="btn btn-secondary" type="submit" value="Get notified">
                                    </div>
                                </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 pt-3 pb-2 text-center text-dark">
                    <h5>Upcoming Projects</h5>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-8 py-1 text-center d-flex">
                    <div class="card card_4 flex-fill">
                        <div class="card-body row d-flex align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <h5 class="card-title">REPORTS</h5>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <p class="card-text text-justify">Quarterly Reports on the latest political situations around the world</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-8 py-1 text-center d-flex">
                    <div class="card card_5 flex-fill">
                        <div class="card-body row d-flex align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <h5 class="card-title">PORTFOLIO</h5>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <p class="card-text text-justify">Create and forecast your own political risk portfolio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-8 py-1 text-center d-flex">
                    <div class="card card_6 flex-fill">
                        <div class="card-body row d-flex align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <h5 class="card-title">PROFILE</h5>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <p class="card-text text-justify">Create your own porfile on our webpage</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-8 py-1 text-center d-flex">
                    <div class="card card_6 flex-fill">
                        <div class="card-body row d-flex align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <h5 class="card-title">COUNTRIES</h5>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <p class="card-text text-justify">The spectrum of analysis countries will grow continiously</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Maybe consulting services?-->
            </div>
        </div>


{% endblock content %}
