{% extends "blog/base.html" %}

{% block content %}
<div class="container padding">
    <h1>Disclaimer - Haftungsausschuss</h1>
</div>

<div class="container pt-3 pb-4"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Haftungsausschuss Daten - Übernommen von Google Finance!!!</h3>
            <p>Alle Daten und Informationen werden „wie gesehen“ und ausschließlich zu Informationszwecken zur Verfügung gestellt. Sie sind nicht zur Verwendung im Handel oder im Sinne einer Beratung in Finanz-, Anlage-, Steuer-, Rechts-, Buchhaltungs- oder anderen Fragen gedacht. Bitte wenden Sie sich an Ihren Börsenmakler oder Finanzberater, um vor Geschäftsabschlüssen die Preise zu prüfen. Google ist weder ein Anlage- oder Finanzberater noch ein Effektenhändler. Keine der Daten und Informationen stellen eine Anlageberatung oder ein Angebot, eine Empfehlung oder eine Aufforderung von Google zum Kauf, Verkauf oder Halten eines Wertpapiers oder Finanzprodukts dar. Google macht keine Zusicherung und gibt keine Einschätzung hinsichtlich der Ratsamkeit oder Eignung einer Anlage ab.
                Keine der Daten und Informationen stellen eine allgemeine oder individuelle Anlageberatung dar. Die Finanzprodukte oder -transaktionen, auf die sich diese Daten und Informationen beziehen, sind möglicherweise nicht für Ihr Anlageprofil und Ihre Anlageziele oder Ihre Erwartungen geeignet. Es obliegt Ihrer Verantwortung festzustellen, ob ein Finanzprodukt oder eine Finanztransaktion für Sie auf der Basis Ihrer Interessen, Ihrer Anlageziele, Ihres Anlagehorizonts und Ihrer Risikobereitschaft geeignet ist. Google haftet nicht für etwaige Schäden, die sich aus den hier genannten Transaktionen oder Investitionen in Finanzprodukte ergeben. Google empfiehlt nicht, die zur Verfügung gestellten Daten und Informationen als alleinige Grundlage für Anlageentscheidungen zu verwenden.
                Die Daten werden von den Finanzbörsen und anderen Contentanbietern zur Verfügung gestellt und können entsprechend den Angaben der jeweiligen Finanzbörsen oder anderer Datenanbieter verzögert ankommen. Google überprüft keine Daten und lehnt jegliche Verpflichtung dazu ab.
                Google, seine Daten- oder Contentanbieter, die Finanzbörsen und deren jeweilige verbundene Unternehmen und Geschäftspartner (A) lehnen ausdrücklich die Haftung für die Richtigkeit, Angemessenheit oder Vollständigkeit jeglicher Daten ab und (B) haften nicht für Fehler, Auslassungen oder andere Mängel der Daten, für deren verzögerte oder unterbrochene Bereitstellung oder für Maßnahmen, die im Vertrauen auf die Daten ergriffen werden. Google und die Informationsanbieter übernehmen keinerlei Haftung für Schäden, die im Zusammenhang mit der Verwendung der hier bereitgestellten Informationen entstehen. Der Begriff „Geschäftspartner“ bezieht sich in diesem Kontext nicht auf eine Agentur, eine Partnerschaft oder ein Joint Venture zwischen Google und der betreffenden Partei.
                Sie erklären sich damit einverstanden, ohne vorherige schriftliche Genehmigung keine Daten oder Informationen zu kopieren, zu ändern, umzuformatieren, herunterzuladen, zu speichern, zu reproduzieren, weiterzuverarbeiten, zu übertragen oder weiterzuverteilen oder solche Daten oder Informationen gewerblich zu nutzen.
                Das exklusive Eigentumsrecht an den bereitgestellten Daten und Informationen liegt bei Google oder den jeweiligen Daten- oder Contentanbietern als Dritten.
                In der Tabelle oben finden Sie alle von Google aufgelisteten Börsen und Indizes mit Angabe der jeweiligen Zeitverzögerung.
                Für jegliche Werbung auf Google Finanzen ist allein die Partei verantwortlich, von der die Werbeanzeige stammt. Weder Google noch seine Datenlizenzgeber unterstützen oder übernehmen die Verantwortung für den Inhalt einer Anzeige bzw. für die darin angebotenen Produkte oder Dienste.</p>
        </div>
    </div>
</div>



{% endblock content %}
