{% extends "blog/base.html" %}
{% block content %}
<!--Section 1 - Background image-->
        <div class="container-fluid backgroundimg position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12 text-center rounded py-4 px-6">
                    <h1 class="align-middle pb-2 text-white fontcolor">unravel political un<span class="orange">certainty</span></h1>
                    <div class="card_7 rounded py-3 px-3">
                        <h5>We redefine the political risk perspective</h5>
                        <h5>We measure, monitor and forecast political risks based on the view of the population</h5>
                        <p class="pt-3 text-center">Want to know more?</p>
                        <div class="row d-inline-flex">
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="mailto:politicaluncertainty@gmail.com" role="button" class="btn btn-secondary data_button_custom"><i class="fa fa-envelope mt-1 orange pull-left"></i>Get in Contact</a> 
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="{% url 'data-main' %}" role="button" class="btn btn-secondary data_button_custom"><i class="fa fa-line-chart mt-1 pull-left orange"></i>View Data</a>
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#" role="button" class="btn btn-secondary data_button_custom"><i class="fa fa-mouse-pointer mt-1 pull-left orange"></i>Subscribe</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
<!--Section 2 Keymessages-->
<div class="container padding">
    <div class="text-center pb-5" data-aos="fade-up" data-aos-offset="200">
        <h3>Political Risks Are On The Rise</h3>
        <p class="text-muted">Let us overcome them together</p>
        <hr class="hr_sizing">
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 pt-2 text-center d-flex" data-aos="fade-up" data-aos-offset="170">
            <div class="card card_1">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                    </div>
                    <a href="{% url 'blog-political-risk' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Understand</h4></a>
                    <p class="card-text text-muted">the political risk spectrum and engage these risks with our unique approach</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="185">
            <div class="card card_2">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                    </div>
                    <a href="{% url 'data-main' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Engage</h4></a>
                    <p class="card-text text-muted">with the monitoring and forecasting possibilities on the short and long term</p>
                </div>
                <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="200">
            <div class="card card_3">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_05.png">
                    </div>
                    <a href="{% url 'blog-coming-soon' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Create</h4></a>
                    <p class="card-text text-muted">personalised political risk tools - <br>
                        easily, quickly and specifically</p>
                </div>
            </div>
        </div>
    </div>
</div>

            
<!--Section 3 - Our Services-->
<div class="bg-light">
    <div class="container padding">
        <div data-aos="fade-up" data-aos-offset="200">
            <div class="pb-4 row justify-content-center">
                <div class="col-md-10">
                    <h3 class="text-center">Our Services</h3>
                    <hr class="mt-0 mb-0 hr_sizing pb-4">
                    <p class="mb-0 mt-0 text-muted">
                        Since, we think information is the key element to overcome political uncertainty, we want to provide you with the best possible political risk tools to monitor and forecast political risk for your business.
                    <sub>*</sub>
                    </p>
                    <div class="pt-2">
                        <cite class="text-muted fs-small text-justify"><sup>*</sup>The following services are currently not available: Quarterly Reports, Political Risk Portfolios Forecasting Tools and the Profile Function.</cite>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border shadow-sm"> <!--dadurch sind die gerundeten Kanten weg-->
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/analysis_01.png">
                            </div>
                            <a href="{% url 'data-main' %}" role="button"class="card-title service_button stretched-link text-decoration-none"><h4>Uncertainty Analysis</h4></a>
                            <p class="card-text text-muted">Experience our Political Risk Analysis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border card-border-color1 shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/blog_02.png">
                            </div>
                            <a href="{% url 'blog-blogs' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Expertise Blog</h4></a>
                            <p class="card-text text-muted">Experience our Political Risk Perspectives</p>
                        </div>
                    </div>
                </div>
    <!--Pop-up für Kontakt Formular-->
                <div class="col-lg-3 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border card-border-color2 shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/report_01.png">
                            </div>
                            <a href="{% url 'blog-coming-soon' %}" role="button" class="card-title service_button stretched-link text-decoration-none"><h4>Quarterly Reports</h4></a>
                            <p class="card-text text-muted">Experience our Political Risk Experise</p>
                        </div>
                        <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 text-center pt-2 pl-0 pr-0 d-flex">
                    <div class="card rounded-0 card-border shadow-sm">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/specify_01.png">
                            </div>
                            <a href="{% url 'blog-coming-soon' %}" role="button" class="card-title service_button text-decoration-none stretched-link"><h4>Trend Analysis</h4></a>
                            <p class="card-text text-muted">Experience our specified Trend Analysis</p>
                        </div>
                        <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
                    </div>
                </div>
                <div class="col-lg-12 pt-4 d-flex justify-content-center">
                    <a href="#politicalrisktools" role="button" class="word-hover1 text-decoration-none">View All Services</a>
                </div>
            </div>
        </div>
    </div>
</div>

    
<!--Section 4 Unique Political Risk Index-->
<div class="container padding">
    <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-12" data-aos="fade-right" data-aos-offset="260">
            <h3>The Novel Political Risk Perspective</h3>
            <h6 class="pt-3">The Genius of the Population</h6>
            <p class="text-muted">Who is more confronted with country risks than the population? Their collective knowledge is the key data source for our political risk measures.</p>
            <h6 class="pt-1">Google&trade; Search Requests</h6>
            <p class="text-muted">Google Trend&trade; data has insights on how the population perceive risks. We extract this information enabling the genius of the collective to measure our unique political risk.<sup>*</sup><br>
                <a href="#understandpoliticalrisk" role="button" class="word-hover1 text-decoration-none">learn more</a></p>
            <div>
                <p class="text-muted fs-small"><sup>*</sup>Our data represents only a porportion of the population not the population as a whole</p>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 text-center" data-aos="fade-left" data-aos-offset="270">
            <img class="image-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/new-isometric_04.png" alt="">
        </div>
    </div>
</div>  

<!--Section 7 BREAK-->
<div class="container-fluid backgroundimg13 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center position-absolute">
        <div class="col-md-12 text-center text-white" data-aos="zoom-in">
            <h1 class="align-middle pb-2">importance of political risk</h1>
            <h5>Information is the key in uncertain times</h5>
            <h5>Gain valuable insights on your businesses political risk situation abroad</h5>
        </div>
    </div>
</div>

<!--Section 5 What is political risk-->

<div class="container padding">
    <div class="pb-2 text-center" data-aos="fade-up" data-aos-offset="300">
        <h3>What is Political Risk</h3>
        <p class="text-muted">Political Risk bears many different aspects in international business</p>
        <hr class="hr_sizing">
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-12" data-aos="fade-right" data-aos-offset="300">
            <h6 class="pt-3">Main scenarios which profit from increased political risk knowledge</h6>
            <p class="text-muted">Political risk short explanation</p>
            <h6 class="pt-3">Political Risk Examples</h6>  
            <ul>
                <li class="text-muted">Starting your business in politically less stable countries</li>
                <li class="text-muted">Already have businesses in a variety of countries and want to reduce the risk</li>
                <li class="text-muted">Worried about specific political risk sets</li>
            </ul>
            <a href="#politicalrisktools" class="word-hover1 text-decoration-none">learn more</a>
        </div>
        <div class="col-lg-7 col-md-12 text-center" data-aos="fade-left" data-aos-offset="300">
            <img class="image-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/information-isometric_02.png" alt="#">
        </div>
    </div>
</div>  

<!--Section 5 Importance for companies-->
<div class="bg-light">
    <div class="container padding"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div data-aos="fade-up" data-aos-offset="300">
            <div class="text-center pb-5">
                <h3>Importance of Political Risk for your Company</h3>
                <p class="text-muted">Political Risks are rising in the past years due to globalization, sanctions or trade wars - <br>
                        Therefore, knowledge is the key to overcome them</p>
                <hr class="mt-0 mb-0 hr_sizing">
            </div> 
            <div class="row d-felx align-items-center justify-content-center">
                <div class="col-lg-4 col-sm-12 d-lg-block d-none pb-4">
                    <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/important_03.png" alt="#"> <!--alt shows what the picture is, if it cannot be displayed / d-lg-block & d-none shows picture only on lg-screens not on small screens!-->
                </div>
                <div class="col-lg-8 col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <i class=" p-0 m-0 fa fa-2x fa-line-chart grey"></i>
                            <h4 class="pt-2">Risks are rising</h4>
                            <p class="pt-2 text-muted text-justify">Political risk is a growing threat. It stems from more and more places<sup>*</sup></p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <i class=" p-0 m-0 fa fa-2x fa-thermometer-three-quarters grey"></i>
                            <h4 class="pt-2">Huge Threat</h4>
                            <p class="pt-2 text-muted text-justify">Experts agree that political risk is one of the most threatening risks for businesses abroad<sup>**</sup></p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <i class=" p-0 m-0 fa fa-2x fa-eye grey"></i>
                            <h4 class="pt-2">Often Hidden</h4>
                            <p class="pt-2 text-muted text-justify">Even though it is such a major risk political risk is often overlooked for a variety of reasons<sup>***</sup></p>
                        </div>
                    </div>
                </div>
                <div class="pt-2"><!--mit dem "download" Attribut wird es direkt runtergeladen, ohne kann es zuerst angeschaut werden-->
                    <a href="{% url 'blog-blogs' %}" role="button" class="word-hover1 text-decoration-none">learn more</a>
                </div>
            </div>
        </div>
    </div>  
</div>

<!--Section 6 Relevance of Political Risk-->
<div class="container padding">
    <div class="pb-2 text-center" data-aos="fade-up" data-aos-offset="300">
        <h3>Relevance of Political Risk</h3>
        <p class="text-muted">Protecting and enabling international business activities</p>
        <hr class="hr_sizing">
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-7 col-md-12 text-center" data-aos="fade-right" data-aos-offset="300">
            <img class="image-fluid w-75 float-sm-none float-md-none float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/analysis-isometric_02.png" alt="#">
        </div>
        <div class="col-lg-5 col-md-12" data-aos="fade-left" data-aos-offset="200">
            <h6 class="pt-3">Main scenarios which profit from increased political risk knowledge</h6>  
            <ul>
                <li class="text-muted">Starting your business in politically less stable countries</li>
                <li class="text-muted">Already have businesses in a variety of countries and want to reduce the risk</li>
                <li class="text-muted">Worried about specific political risk sets</li>
            </ul>
            <a href="#politicalrisktools" class="word-hover1 text-decoration-none">Explore our political risk tools</a>
        </div>
    </div>
</div>    


<!--Section 7 BREAK-->
<div class="container-fluid backgroundimg2 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center position-absolute">
        <div class="col-md-12 text-center text-white" data-aos="zoom-in">
            <h1 class="align-middle pb-2">Create Certainty with Uncertainty</h1>
            <h5>Information is the key in uncertain times</h5>
            <h5>Gain valuable insights on your businesses political risk situation abroad</h5>
        </div>
    </div>
</div>


<!--Section 8 - Political Risk Tools-->
<div class="container padding" id="politicalrisktools">
    <div data-aos="fade-up" data-aos-offset="300">
        <h3 class="text-center">Experience our Unique Political Risk Tools</h3>
        <p class="text-center text-muted">Political Risks are significantly rising in the past years with trade sanctions, tensions between countries and instable governments - Therefore, Understanding is the first key to reduce risks for your business.
        Gain knowledge on the political risk situation and forecast for your business with our political risk tools</p> <!--To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.-->
        <hr class="hr_sizing">
        <ul class="nav nav-pills pt-3">
            <li class="nav-item"><a href="#monitor" class="nav-link active pill-link-color" data-toggle="tab">Monitor</a></li>
            <li class="nav-item"><a href="#forecast" class="nav-link pill-link-color" data-toggle="tab">Forecast</a></li>
            <li class="nav-item"><a href="#profile" class="nav-link pill-link-color" data-toggle="tab">Profile</a></li>
            <li class="nav-item"><a href="#others" class="nav-link pill-link-color" data-toggle="tab">Others</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="monitor" class="tab-pane fade show active pt-2" role="tabpanel">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_12.png" alt="#"> 
                    </div>
                    <div class="col-sm-6">
                        <h4>Monitor Political Risk</h4>
                        <p class="text-muted">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation in given countries.<sup>*</sup></p>
                        <a class="word-hover1 text-decoration-none" role="button" href="{% url 'data-main' %}">learn more</a><br>
                        <div class="pt-5">
                            <p class="text-muted fs-small"><sup>*</sup>only the following countries are available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="forecast" class="tab-pane fade pt-2" role="tabpanel">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_09.png" alt="#"> 
                    </div>
                    <div class="col-sm-6">
                        <h4>Forecast Political Risk</h4>
                        <p class="text-muted">Use our data to forecast or just send us an iquiry for your custom poltical risk forecast. We know some risks are more important for your busniess than others. We can customize our methods to your needs. Create your own political risk profile.<sup>*</sup></p>
                        <a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-coming-soon' %}">learn more</a>
                        <div class="pt-5">
                            <p class="text-muted fs-small"><sup>*</sup>Currently not available on the webpage. Only available via e-mail inquiry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="profile" class="tab-pane fade pt-2" role="tabpanel">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/forecast_01.png" alt="#"> 
                    </div>
                    <div class="col-sm-6">
                        <h4>Create your own Political Risk Portfolio</h4>
                        <p class="text-muted">Create your own political risk portfolio with our application. Know the trend before the issue happens. Forecasting data helps deal with the uncertainty of the future.<sup>*</sup></p>
                        <a class="word-hover2 text-decoration-none" role="button" href="{% url 'blog-coming-soon' %}">coming soon</a>
                        <div class="pt-5">
                            <p class="text-muted fs-small"><sup>*</sup>Currently not available, will come soon.</cite>
                        </div>
                    </div>
                </div>
            </div>
            <div id="others" class="tab-pane fade pt-2" role="tabpanel">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_10.png" alt=""> 
                    </div>
                    <div class="col-sm-6">
                        <h4>Use our spectrum of political risk data</h4>
                        <p class="text-muted">With our political risk reports and blog posts we want to keep you up to date about the happenings in the political risk world</p>
                        <ul>
                            <li class="text-muted">Political Risk Expertise <sup>*</sup> <a class="word-hover2 text-decoration-none ml-2" role="button" href="{% url 'blog-coming-soon' %}">Reports</a></li>
                            <li class="text-muted">Political Risk Expertise <a class="word-hover1 text-decoration-none ml-3" role="button" href="{% url 'blog-blogs' %}">Blog</a></li>
                        </ul>
                        <div class="pt-5">
                            <p class="text-muted fs-small"><sup>*</sup>Political Risk Reports are not yet available! coming soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Section 8 Vorteile - Fast-->
<div class="bg-light">
    <div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="pb-6" data-aos="fade-up">
            <h2 class="text-center">Your advantages using our political risk tools</h2>
            <hr class="hr_sizing">
        </div>
        <div class="row d-felx align-items-center" data-aos="fade-right">
            <div class="col-lg-8 col-md-12">
                <h4 class="text-center">Up-To-Date - Weekly Political Risk measures</h4>
                <p class="pt-2 text-muted text-justify">Even though it is such a major risk political risk is often overlooked for a variety of reasons.
                    In the currently fast changing times where uncertainties and risks arise very quickly, it is important to be able to react quickly. 
                    With our political risk tools a quick adjustment in business strategies is possible. 
                    Political risk trends and monitoring can be adjusted to your risks up to weekly.<sup>*</sup></p>
                <div class="pt-2">
                    <cite class="text-muted fs-small text-justify"><sup>*</sup>Currently only available with our pre determined political risk portfolio</cite>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-left">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/predict_01.png" alt="Card image">
            </div>
        </div>
    </div>  
</div>

<!--Section 9 Vorteile - Predict-->
<div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
    <div class="row d-felx align-items-center" data-aos="fade-right">
        <div class="col-lg-4 col-md-12 text-center">
            <img class="img-fluid w-75 float-sm-none float-md-none float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/fast_01.png" alt="Card image">
        </div>
        <div class="col-lg-8 col-md-12" data-aos="fade-left">
            <h4 class="text-center">CUSTOMIZEABLE - Weight your Political Risks</h4>
            <p class="pt-2 text-muted text-justify">Our political risk tools constist of many different risks and uncertainties, which can be customized.
                Therefore, it is possible to weight the most important political risks for your business.
                With this possibility the monitoring of potential risks and uncertainties is more accurate than with a pre determined political risk tool.
                Even though political risk is such a major risk, it is often overlooked for a variety of reasons, therefore make your business saver with our political risk tools.
                <sup>*</sup></p>
            <div class="pt-2">
                <cite class="text-muted fs-small text-justify"><sup>*</sup>This service is currently only available via e-mail inquiry and only for a specific time period. No further tools, like up-to-date monitoring or forecasting is currently available on the webpage. To receive your specific political risk portfolio for a specific time period, just send us an e-mail and we will prepare your political risk portfolio. Since, we are just in the beginning, this service is currently FREE of CHARGE.</cite>
            </div>
        </div>
    </div>
</div>

<!--Section 10 Vorteile - Customize-->
<div class="bg-light">
    <div class="container pt-5 pb-5" data-aos="fade-right"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="row d-felx align-items-center">
            <div class="col-lg-8 col-md-12">
                <h4 class="text-center">PREDICTIVE - Forecast your Political Risks</h4>
                <p class="pt-2 text-muted text-justify">It is not only important to understand the current political risk situation in a country, but also the political risks and uncertainties which could occur in the future.
                    This is one of the most important aspects for a business to reduce the possibility of beeing exposed to political risks and uncertainties abroad.
                    With our political risk tools you cannot only gain up-to-date and customized political risk data, but also predict your political risk portfolio for a specific time period.
                    <sup>*</sup></p>
                    <div class="pt-2">
                        <cite class="text-muted fs-small text-justify"><sup>*</sup>This service is currently only available via e-mail inquiry and only for a specific time period. No further tools, like up-to-date monitoring or customizing is currently available on the webpage. To receive your forecasting for a specific political risk portfolio and a specific time period, just send us an e-mail and we will prepare your forecast. Since, we are just in the beginning, this service is currently FREE of CHARGE.</cite>
                    </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-left">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/customize_01.png" alt="Card image">
            </div>
        </div>
    </div>  
</div>

<!--Section 11 BREAK-->
<div class="container-fluid backgroundimg3 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center" data-aos="zoom-in">
        <div class="col-md-12 text-center text-white">
            <h1 class="align-middle pb-2">Our Service Spectrum</h1>
            <h5>We want to provide you with a variety of political risk tools created with a newly approach of measuring uncertainties and risks</h5>
            <h5>Since, we are just in the beginning, not all of the data is available </h5>
        </div>
    </div>
</div>

<!--Section 12 Our Services-->
<div class="container padding">
    <div data-aos="fade-up">
        <div class="pb-4">
            <h3 class="text-center">Our Services</h3>
            <hr class="mt-0 mb-0 hr_sizing pb-4">
            <p class="mb-0 mt-0 text-justify text-muted">
                We want to provide you with the best possible political risk tools to monitor and forecast political risk for your business.
                Since, we think information is the key element to prevent/reduce political risks and uncertainties, we want to not only provide political risk tools but also many different services to help you overcome political risk.
                Therefore, we also provide you with a variety of information in form of a blog and quarterly reports. 
                Our blog entries are always about poltical risk topics, which could be from great relevance for your business.
                Also our quarterly reports dealing with the most relevant information for the specific topic.<sub>*</sub>
            </p>
            <div class="pt-2">
                <cite class="text-muted fs-small text-justify"><sup>*</sup>Since we are only in the beginning, not all services are yet available. The following services are currently not available: Quarterly reports, specific political risk portfolios and forecasting of them, political risk profile.</cite>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                <div class="card rounded-0"> <!--dadurch sind die gerundeten Kanten weg-->
                    <div class="card-body flex-fill">
                        <div class="pt-2 pb-3">
                            <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/analysis_02.png">
                        </div>
                        <h4 class="card-title pt-3 pb-1">Political Risk Analysis</h4>
                        <p class="card-text text-muted pb-4 text-justify">Experience our political risk analysis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia tempore dolorum atque doloremque officiis.</p>
                        <a href="{% url 'data-main' %}" role="button" class="btn btn-outline-secondary">Data</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                <div class="card rounded-0">
                    <div class="card-body flex-fill">
                        <div class="pt-2 pb-1">
                            <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_13.png">
                        </div>
                        <h4 class="card-title pt-4 pb-1">Political Risk Expertise</h4>
                        <p class="card-text text-muted pb-4 text-justify">Experience our political risk perspective. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia tempore dolorum atque doloremque officiis.</p>
                        <a href="{% url 'blog-blogs' %}" role="button" class="btn btn-outline-secondary">Blog</a>
                        <a href="{% url 'blog-coming-soon' %}" role="button" class="btn btn-outline-danger ml-3">Quarterly Reports</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                <div class="card rounded-0">
                    <div class="card-body flex-fill">
                        <div class="pt-2 pb-1">
                            <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/trend_01.png">
                        </div>
                        <h4 class="card-title pt-4 pb-1">Specified Trend Analysis</h4>
                        <p class="card-text text-muted pb-4 text-justify">Experience our specified trend analysis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia tempore dolorum atque doloremque officiis.</p>
                        <a href="{% url 'blog-coming-soon' %}" role="button" class="btn btn-outline-danger">coming soon</a>
                    </div>
                    <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Section 13 - Quarterly Reports-->
    <!--<div class="bg-light">
        <div data-aos="fade-up">
            <div class="container padding">
                <div class="text-center">
                    <h3 class="mb-2 mt-0">Further Services - Quarterly Reports</h3>
                    <hr class="mt-0 mb-0 pb-5 hr_sizing">
                    <p class="mb-0 mt-0 text-justify text-muted"> In Addition to our frequent Political Risk Analysis in our Blog section, we also provide you with our Quarterly Reports.
                        The quarterly reports consist of important political risk analysis of different countries on a quarterly basis.
                        We will introduce the most and least important political risks to be aware of in specific countries.
                        Furthermore, we discuss the overall political situation and also provide a forecast for different countries.
                        If you want to know more about our quarterly reports, just download the latest version below and subscribe to our newsletter to get notified, when a new report is availabe.
                        Tis service is currently free of charge.
                    </p>
                </div>
            <div class="row pb-3 justify-content-center">
                <img class="svgsizing" src="../static/svg/reports_01.png">
            </div> 
            <div class="text-center">
                <a href="test_white paper.pdf" download="text_white paper.pdf" type="button" class="btn btn-outline-danger">coming soon</a>
            </div>
        </div>
    </div>
    </div> -->

<!--Section 14 - just the beginning-->
<div class="bg-light">
    <div class="container padding" data-aos="fade-up" data-aos-offset="300">
        <div class="text-center pb-5"> 
            <h3>Just the beginning</h3>
            <hr class="mt-0 mb-0 hr_sizing pb-4">
            <p class="text-justify text-muted pt-2">Since we are just in the beginning, some of our services are currently not available on the webpage.
            If you have any other ideas, which services we should provide, just send us an e-mail. 
            The following services are yet to come.
            Subscribe to our newsletter to receive information when new services are available.
            In order to keep our services free of charge, we are thankful for every donation to keep up doing what we love (See the imprint section).
            </p>
                <div class="text-center">
                        <form action="{% url 'subscription'%}" method="POST">
                            {% csrf_token %}
                            {% for field in subscribeform %}
                            <div class="input-group">
                                {{ field }}
                                <div class="input-group-append">
                                    <input class="btn btn-secondary" type="submit" value="Subscribe now">
                                </div>
                            </div>
                            {% endfor %}
                        </form>

                        <a href="#" type="" class="ml-3 word-hover1 text-decoration-none">Donate</a>
                </div>
        </div>
        <div class="d-lg-block d-none text-center">
            <img class="w-25 " src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/start_01.png">
        </div> 
        
        <div class="row pt-3">
            <div class="col-lg-4 col-md-6 col-sm-12 pt-2 text-center d-flex">
                <div class="card card_1 flex-fill">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col-lg-4">
                            <i class="p-0 m-0 fa fa-2x fa-line-chart"></i>
                        </div>
                        <div class="col-lg-8">
                            <h5>PORTFOLIO</h5>
                            <p class="card-title text-muted text-justify">Create and forecast your own political risk portfolio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                <div class="card card_2 flex-fill">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col-lg-4">
                            <i class="p-0 m-0 fa fa-2x fa-thermometer-three-quarters"></i>
                        </div>
                        <div class="col-lg-8">
                            <h5>PROFILE</h5>
                            <p class="card-title text-muted text-justify">Create your own porfile on our webpage</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                <div class="card card_3 flex-fill">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col-lg-4">
                            <i class="p-0 m-0 fa fa-2x fa-eye"></i>
                        </div>
                        <div class="col-lg-8">
                            <h5>REPORTS</h5>
                            <p class="card-title text-muted text-justify">Quarterly Political Risk Reports for different countries</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Maybe consulting services?-->
        </div>
    </div>    
    </div>


<!--Section 12 Methodology - könnte wieder eingeführt werden, aber passt momentan nicht dazu
    <div class="bg-light">  
        <div class="container bg-light padding">  
            <div class="pb-5 text-center">
                <h3>Methodology</h3>
                <hr class="mt-0 mb-0 hr_sizing">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-12">
                    <div class="pr-2">
                        <h3>Unique measuring</h3>
                        <p>how is it done?</p>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <ul>
                                <li class="text-muted">Political risk of each country is linked to Google Searches</li>
                                <li class="text-muted">Google Searches show uncertainty in a country</li>
                                <li class="text-muted">Wordlisting is very important to create index</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 p-0 m-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-75" src="svg/unique_02.png" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-xs-12 p-0 m-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-75" src="svg/implement_01.png" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="text-justify pt-3 pl-2 pr-1">
                        <h3>Easy to implement</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit porro fuga tempore eos quod dolores, consequuntur, alias debitis sapiente expedita, sunt temporibus! Quod asperiores soluta sint corrupti veniam eveniet.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-xs-12">
                    <div class="text-justify pt-3 pr-2">
                        <h3>Changeable</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit porro fuga tempore eos quod dolores, consequuntur, alias debitis sapiente expedita, sunt temporibus! Quod asperiores soluta sint corrupti veniam eveniet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 p-0 m-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-75" src="svg/changeable_02.png" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>--> 


<!--Section 15 BREAK-->
<div class="container-fluid backgroundimg4 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center pt-6" data-aos="zoom-in">
        <div class="col-md-12 text-center text-white">
            <h1 class="align-middle">Construction of our Political Risk Tools</h1>
            <h5 class="pt-1">We want to redefine the approach of measuring, customizing, monitoring and forecasting Political Risks and Uncertainties</h5>
            <h5>Our approach is to measure political risk with the power of the population and not experts</h5>
        </div>
    </div>
</div>

       
<!--Section 17 - Understand the new approach-->

<div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
    <div class="pb-6 text-center" data-aos="fade-up">
        <h2>Overview Of The New Approach</h2>
        <p class="text-muted">Our goal is to gain new insights on political risk. Our tools seek to understand the view of the population.
            Research has shown a strong link between political risk and our evaluations.</p>
        <hr class="hr_sizing">
    </div>
    <div class="row d-felx align-items-center">
        <div class="col-lg-8 col-md-12 text-center"  data-aos="fade-right" data-aos-offset="180">
            <h4>Modern measuring technique</h4> 
            <p class="pt-2 text-muted text-justify">By utilizing Google data in a new way we are able to create specific and up-to-date political risk evaluations. 
                We use modern algorithms and key words to extract the relevant data points for each region. 
                This method also enables industry or company specific adaptations. 
                For more information download our white paper.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 text-center" data-aos="fade-left" data-aos-offset="200">
            <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/unique_02.png" alt="Card image">
        </div>
    </div>
</div>  
<div class="bg-light">
    <div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="row d-felx align-items-center">
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-right" data-aos-offset="200">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/implement_01.png" alt="Card image">
            </div>
            <div class="col-lg-8 col-md-12 text-justify" data-aos="fade-left" data-aos-offset="180">
                <h4>Validation of our methods</h4>
                <p class="pt-2 text-muted">We validated our data based on scientific standards. 
                    Event studies and regression techniques were used to validate the data and test our main hypotheses. 
                    The outcome of our research all pointed to a strong link between our data and political risk in the evaluated countries.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Section 16 Understand the SBPRI-->
<div class="container padding" id="understandpoliticalrisk"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
    <div data-aos="fade-up">
        <div class="text-center pb-5">
            <h3>Understand the Basics of our Political Risk Measurement</h3>
            <hr class="mt-0 mb-0 hr_sizing">
        </div> 
        <div class="row d-felx align-items-center pb-4">
            <div class="col-lg-8 col-md-12 text-center">
                <p class="text-justify text-muted">In the past years a few methods have established. 
                    Primarily there are expert-based, news-based and data-based political risk measurements. 
                    Since many of these political risk measures often rely on different parameters, like experts or newspaper authors, we wanted to find a different approach for measuring political risk.
                    Our political risk index is search-based, which means that the data is collected via search requests made the global population on one of the biggest search enginges Google&trade;. 
                    That means our poltical risk index does not rely on the opinion of experts or journalists, but relies on the felt uncertainty of the population in a country.
                    If you want to learn more about the creation of our political risk tools, you can download our white paper with the link below.
                </p>
                <div class="d-flex justify-content-start pt-2"><!--mit dem "download" Attribut wird es direkt runtergeladen, ohne kann es zuerst angeschaut werden-->
                    <a href="test_white paper.pdf" download="text_white paper.pdf" role="button" class="word-hover1 text-decoration-none">Download White Paper</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/understand_03.png" alt="Card image">
            </div>
        </div>
    </div>
</div>


<!--18 Join PoliticalRisk-->
    <div class="container-fluid backgroundimg5 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
        <div class="row d-flex justify-content-center" data-aos="zoom-in">
            <div class="col-md-12 text-center">
                <h1 class="align-middle mb-4 text-white">Start Your Political Risk Analysis</h1>
                <a href="{% url 'data-main' %}" role="button" class="mt-1 btn btn-secondary">Get Started</a> <!--new page with coming soon-->
            </div>
        </div>
    </div>

{% endblock content %}





