{% extends "blog/base.html" %}
{% block content %}
<!--Section 1 - Background image-->
        <div class="container-fluid backgroundimg position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12 text-center rounded py-4 px-6">
                    <h1 class="align-middle pb-2 text-white fontcolor">unravel political un<span class="orange">certainty</span></h1>
                    <div class="card_7 rounded py-3 px-3">
                        <h5>We redefine the political risk perspective</h5>
                        <h5>We measure, monitor and forecast political risks based on the view of the population</h5>
                        <p class="pt-3 text-center">Want to know more?</p>
                        <div class="row d-inline-flex">
                            <div class="col-lg-6 col-sm-12 pt-2">
                                <a href="mailto:politicaluncertainty@gmail.com" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="mail"></i>Get in Contact</a> 
                            </div>
                            <div class="col-lg-6 col-sm-12 pt-2">
                                <a href="{% url 'data-main' %}" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="bar-chart"></i>View Index</a>
                            </div>
                            <!-- Blog Style
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a role="button" class="btn btn-secondary data_button_custom" href="#subscribe"><i class="mt-1 orange pull-left feather_16" data-feather="send"></i>Subscribe Now</a>
                            </div>
                        -->
                        </div>
                    </div>
                </div>
            </div>
        </div>    

<!--Section 2 - Our Services-->
            <div class="container padding">
                <div data-aos="fade-up">
                    <div class="pb-4">
                        <!--This section should become later our subscriptions menu-->
                        <h3 class="text-center">Our services - Experience them for Free<sup>*</sup></h3>
                        <p class="text-muted text-center">Protect your international investments from political shifts with our poltical risk tools and analysis</p>
                        <hr class="mt-0 mb-0 hr_sizing pb-4">
                        <p class="mb-0 mt-0 text-justify text-muted">
                            <!--We want to provide you with the best possible political risk tools to monitor and forecast political risk for your business.
                            Since, we think information is the key element to prevent/reduce political risks and uncertainties, we want to not only provide political risk tools but also many different services to help you overcome political risk.
                            Therefore, we also provide you with a variety of information in form of a blog and quarterly reports. 
                            Our blog entries are always about poltical risk topics, which could be from great relevance for your business.
                            Also our quarterly reports dealing with the most relevant information for the specific topic.<sub>*</sub>-->
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                            <div class="card rounded-0"> <!--dadurch sind die gerundeten Kanten weg-->
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-3">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/analysis_02.png">
                                    </div>
                                    <h4 class="card-title pt-3 pb-1">Political Risk Index</h4>
                                    <p class="card-text text-muted pb-4">Discover trends and increase your action capacity</p>
                                    <a role="button" class="btn btn-outline-secondary btn-custom service_button_custom" href="{% url 'data-main' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="bar-chart"></i>Index<sup>*</sup></a>
                                    <!-- Blog Style
                                    <a role="button" class="btn btn-outline-secondary btn-custom service_button_custom mt-lg-2" href="{% url 'blog-library' %}#downloads"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="bar-chart"></i>Country Dataset<sup>*</sup></a>
                                    <a role="button" class="btn btn-outline-secondary btn-custom service_button_custom mt-lg-2 mt-md-2" href="{% url 'blog-library' %}#downloads"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="bar-chart"></i>Raw Dataset<sup>*</sup></a>
                                -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                            <div class="card rounded-0">
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-1">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_13.png">
                                    </div>
                                    <h4 class="card-title pt-4 pb-1">Risk Expertise</h4>
                                    <p class="card-text text-muted pb-4">Get further strategic insights on uncertainty and risk</p>
                                    <a role="button" class="btn btn-outline-secondary btn-custom service_button_custom" href="{% url 'blog-blogs' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="pen-tool"></i>Blog<sup>*</sup></a>
                                    <!-- Blog Style
                                    <a role="button" class="btn btn-outline-secondary btn-custom service_button_custom mt-lg-2" href="{% url 'blog-coming-soon' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="file-text"></i>Reports<sup>*</sup></a>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                            <div class="card rounded-0">
                                <div class="card-body flex-fill">
                                    <div class="pt-2 pb-1">
                                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/trend_01.png">
                                    </div>
                                    <h4 class="card-title pt-4 pb-1">Individual Services</h4>
                                    <p class="card-text text-muted pb-4">Need further political risk evaluations or analysis?</p>
                                    <a role="button" class="btn btn-outline-secondary btn-custom service_button_custom" href="mailto:politicaluncertainty@gmail.com"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="loader"></i>Get in Contact<sup>*</sup></a>
                                </div>
                                <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
                            </div>
                        </div>
                        <div class="pt-2 pl-3">
                            <cite class="text-muted fs-small text-justify"><sup>*</sup>All of our services are currently for FREE and therefore for information purposes only! See our <a class="word-hover1 text-decoration-none" href="{% url 'blog-disclaimer' %}">Disclaimer</a></cite>
                        </div>
                        <div class="col-lg-12 pt-4 d-flex justify-content-center">
                            <a href="#politicalrisktools" role="button" class="word-hover1 text-decoration-none">View All Services</a>
                        </div>
                    </div>
                </div>
            </div>
        
<!--Section 3 - Services - Examples (Jumbatron)-->  
    <div class="bg-light">
        <div class="container padding" id="politicalriskexamples">
            <div data-aos="fade-up" data-aos-offset="300">
                <h3 class="text-center">Our Services - Examples</h3>
                <p class="text-center text-muted">Above are examples of our services. Click them to gain knowledge on global political risk trends and improve your business decisions.</p> <!--To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.-->
                <hr class="hr_sizing">
                <ul class="nav nav-pills pt-3">
                    <li class="nav-item"><a href="#world" class="nav-link active pill-link-color" data-toggle="tab">Worldmap</a></li>
                    <li class="nav-item"><a href="#timeline" class="nav-link pill-link-color" data-toggle="tab">Timeline</a></li>
                    <li class="nav-item"><a href="#countries" class="nav-link pill-link-color" data-toggle="tab">Countries</a></li>
                    <!-- Blog Style <li class="nav-item"><a href="#dataset" class="nav-link pill-link-color" data-toggle="tab">Dataset</a></li> -->
                    <li class="nav-item"><a href="#blog" class="nav-link pill-link-color" data-toggle="tab">Blog</a></li>
                    <!-- Blog Style <li class="nav-item"><a href="#reports" class="nav-link pill-link-color" data-toggle="tab">Reports</a></li> -->
                </ul>
                
                <div class="tab-content">
                    <div id="world" class="tab-pane fade show active pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted pt-2">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation.<sup>*</sup></p>
                                <p><a  class="word-hover1 text-decoration-none" role="button" href="{% url 'data-main' %}#worldmap">Worldmap</a></p>
                                <p class="text-muted fs-small"><sup>*</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela |
                                All our services are currently free of charge and for information purposes only. For further information see our <a class="word-hover1 text-decoration-none">Disclaimer</a></p>
                            </div>
                            <div class="col-12">
                                <div class="container-fluid backgroundimg20 position-relative d-flex"></div>
                            </div>
                        </div>
                    </div>
                    <div id="timeline" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted pt-2">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation.<sup>*</sup></p>
                                <p><a  class="word-hover1 text-decoration-none" role="button" href="{% url 'data-main' %}#comparison">Timeline</a></p>
                                <p class="text-muted fs-small"><sup>*</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela |
                                    All our services are currently free of charge and for information purposes only. For further information see our <a class="word-hover1 text-decoration-none">Disclaimer</a></p>
                            </div>
                            <div class="col-12">
                                <div class="container-fluid backgroundimg20 position-relative d-flex"></div>
                            </div>
                        </div>
                    </div>
                    <div id="countries" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted pt-2">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation.<sup>*</sup></p>
                                <p><a  class="word-hover1 text-decoration-none" role="button" href="{% url 'data-main' %}#countries">Countries</a></p>
                                <p class="text-muted fs-small"><sup>*</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela |
                                    All our services are currently free of charge and for information purposes only. For further information see our <a class="word-hover1 text-decoration-none">Disclaimer</a></p>
                            </div>
                            <div class="col-12">
                                <div class="container-fluid backgroundimg20 position-relative d-flex"></div>
                            </div>
                        </div>
                    </div>
                    <div id="dataset" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted pt-2">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation.<sup>*</sup></p>
                                <p><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-library' %}#downloads">Datasets</a></p>
                                <p class="text-muted fs-small"><sup>*</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela |
                                    All our services are currently free of charge and for information purposes only. For further information see our <a class="word-hover1 text-decoration-none">Disclaimer</a></p>
                            </div>
                            <div class="col-12">
                                <div class="container-fluid backgroundimg20 position-relative d-flex"></div>
                            </div>
                        </div>
                    </div>
                    <div id="blog" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted pt-2">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation.<sup>*</sup></p>
                                <p><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-blogs' %}">Blog</a></p>
                                <p class="text-muted fs-small"><sup>*</sup>All our services are currently free of charge and for information purposes only. For further information see our <a class="word-hover1 text-decoration-none">Disclaimer</a></p>
                            </div>
                            <div class="col-12">
                                <div class="container-fluid backgroundimg20 position-relative d-flex"></div>
                            </div>
                        </div>
                    </div>
                    <div id="reports" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted pt-2">Always up-to date. Request quarterly, monthly or even weekly updates on the political situation.<sup>*</sup></p>
                                <p><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-coming-soon' %}">Reports</a></p>
                                <p class="text-muted fs-small"><sup>*</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela |
                                    All our services are currently free of charge and for information purposes only. For further information see our <a class="word-hover1 text-decoration-none">Disclaimer</a></p>
                            </div>
                            <div class="col-12">
                                <div class="container-fluid backgroundimg20 position-relative d-flex"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
<!--Section 4 - Unique Political Risk Index-->
    <div class="container padding">
        <div class="row d-flex align-items-center">
            <div class="col-lg-5 col-md-12" data-aos="fade-right" data-aos-offset="260">
                <h3>The Data-Centric Political Risk Perspective - Google Trend Analysis</h3>
                <h6 class="pt-3">Utilizing The Genius of the Population</h6>
                <p class="text-muted">Who is more confronted with country risks than the population? Their collective knowledge is the key data source for our political risk measures.</p>
                <h6 class="pt-1">Harness the Power of Google&trade; </h6>
                <p class="text-muted">Google Trend&trade; data has insights on how the population perceive risks. We extract this information enabling the genius of the collective to measure our unique political risk.<sup>*</sup><br>
                    <a href="#understandpoliticalrisk" role="button" class="word-hover1 text-decoration-none">learn more</a></p>
                <div>
                    <p class="text-muted fs-small"><sup>*</sup>Our data represents a relevant proportion of the population</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 text-center" data-aos="fade-left" data-aos-offset="270">
                <img class="image-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/new-isometric_04.png" alt="">
            </div>
        </div>
    </div>  

    <!--Section 5 Overview Services-->
    <div class="bg-light">
        <div class="container padding" id="politicalrisktools">
            <div data-aos="fade-up" data-aos-offset="300">
                <h3 class="text-center">Experience our unique political risk tools - for free<sup>*</sup></h3>
                <p class="text-center text-muted">Understanding is the first step to successful risk management.
                Gain knowledge on global political risk trends and improve your business decisions. All of our products are only for information purposes. Further imformation see our <a href="{% url 'blog-disclaimer' %}" class="text-decoration-none service_button text-size-small">Disclaimer</a></p> <!--To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.-->
                <hr class="hr_sizing">
                <ul class="nav nav-pills pt-3">
                    <li class="nav-item"><a href="#index" class="nav-link active pill-link-color" data-toggle="tab">Index</a></li>
                    <!-- Blog Style<li class="nav-item"><a href="#analysis" class="nav-link pill-link-color" data-toggle="tab">Analysis</a></li> -->
                    <li class="nav-item"><a href="#expertise" class="nav-link pill-link-color" data-toggle="tab">Expertise</a></li>
                    <li class="nav-item"><a href="#more" class="nav-link pill-link-color" data-toggle="tab">More</a></li>
                </ul>
                
                <div class="tab-content">
                    <div id="index" class="tab-pane fade show active pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img class="img-fluid w-75 mx-sm-auto mx-md-auto d-sm-block d-md-block float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_09.png" alt="#"> 
                            </div>
                            <div class="col-lg-6 col-12">
                                <h4>Sure Political Risk - Index<sup>**</sup></h4>
                                <p class="text-muted">Always up-to date. Quarterly, monthly or even weekly changes on the political situation via our webapplication</p>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li class="text-muted">Political Risk Index</li>
                                            <!-- Blog Style <li class="text-muted">Political Risk Portfolio</li> -->
                                            <li class="text-muted">Individual Services</li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="{% url 'data-main' %}">View Index</a></li>
                                            <!-- Blog Style <li><a class="word-hover2 text-decoration-none" role="button" href="{% url 'blog-coming-soon' %}">Coming Soon</a></li> -->
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="mailto:politicaluncertainty@gmail.com">Get In Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pt-4">
                                    <p class="text-muted fs-small"><sup>**</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="analysis" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img class="img-fluid w-75 mx-sm-auto mx-md-auto d-sm-block d-md-block float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_12.png" alt="#"> 
                            </div>
                            <div class="col-lg-6 col-12">
                                <h4>Sure Political Risk - Analysis<sup>**</sup></h4>
                                <p class="text-muted">Know the trend before a disturbance unfolds. Forecasting data helps deal with the uncertainty of the future. Start forecasting today or send us inquiry for further assistance<sup>*</sup></p>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li class="text-muted">Political Risk Dataset</li>
                                            <li class="text-muted">Political Risk Dataset</li> 
                                            <li class="text-muted">Specified Risk Analysis</li> 
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-library' %}#downloads"> Country Data</a></li>
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-library' %}#downloads"> Raw Data</a></li> 
                                            <li><a class="word-hover2 text-decoration-none" role="button" href="{% url 'blog-coming-soon' %}">Coming Soon</a></li> 
                                        </ul>
                                    </div>
                                </div>
                                <div class="pt-4">
                                    <p class="text-muted fs-small"><sup>**</sup>The following countries are currently available: Argentina, Australia, Austria, Bolivia, Canada, Colombia, Chile, Ecuador, Germany, India, Ireland, Mexico, Pakistan, Peru, Paraguay, Singapore, South Africa, Spain, Switzerland, United States, Uruguay, Venezuela</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="expertise" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img class="img-fluid w-75 mx-sm-auto mx-md-auto d-sm-block d-md-block float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_10.png" alt="#"> 
                            </div>
                            <div class="col-lg-6 col-12">
                                <h4>Sure Political Risk - Expertise</h4>
                                <p class="text-muted">Create your personalized political risk portfolio. We know some risks are more important for your busniess than others. We can customize our methods to your needs.<sup>*</sup></p>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <!-- Blog Style <li class="text-muted">Political Risk Reports</li> -->
                                            <li class="text-muted">Political Risk Blog</li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <!-- Blog Style <li><a class="word-hover2 text-decoration-none" role="button" href="{% url 'blog-coming-soon' %}">Coming Soon</a></li> -->
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-blogs' %}">View Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="more" class="tab-pane fade pt-2" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img class="img-fluid w-75 mx-sm-auto mx-md-auto d-sm-block d-md-block float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/forecast_01.png" alt="#"> 
                            </div>
                            <div class="col-lg-6 col-12">
                                <h4>Sure Political Risk - More</h4>
                                <p class="text-muted">With our political risk reports and blog posts we want to keep you updated on current changes.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li class="text-muted">Individual Services</li>
                                            <li class="text-muted">Recommended Literature</li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="mailto:politicaluncertainty@gmail.com">Get In Contact</a></li>
                                            <li><a class="word-hover1 text-decoration-none" role="button" href="{% url 'blog-library' %}#recommendedliterature">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <cite class="text-muted text-size-small pt-2"><sup>*</sup>All our Services are free of charge for now because they are only for information purposes. For further information see our:<a href="{% url 'blog-disclaimer' %}" class="text-decoration-none word-hover1 text-size-small"> Disclaimer</a></cite>
                </div>
            </div>
        </div>
    </div>    

<!--Section 4 - BREAK-->
<div class="container-fluid backgroundimg13 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 text-center text-white" data-aos="zoom-in">
            <h1 class="align-middle pb-2">importance of political risk</h1>
            <h5>Good information is the counter to the vast uncertainy of our time</h5>
            <h5>Gain valuable insights on your businesses political risk situation abroad</h5>
        </div>
    </div>
</div>

<!--Section 5 - What is political risk-->
<div class="container padding">
    <div class="pb-2 text-center" data-aos="fade-up" data-aos-offset="160">
        <h3>What is Political Risk</h3>
        <p class="text-muted">International business is strongly influenced by political change</p>
        <hr class="hr_sizing">
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-12" data-aos="fade-right" data-aos-offset="160">
            <h6 class="pt-3">“The biggest mistake is believing the future will look like the present. It almost never does.” - <a target="_blank" class="service_button text-decoration-none" href="https://www.forbes.com/profile/j-tomilson-hill/?sh=76f88d2e4bb4"> J. Tomilson Hill</a></h6>
            <p class="text-muted">In a business and scientific context political risk is seen as the influence political change by any political actor may have on investments.</p>
            
            <a href="{% url 'blog-political-risk' %}" class="word-hover1 text-decoration-none">learn more</a>
        </div>
        <div class="col-lg-7 col-md-12 text-center" data-aos="fade-left" data-aos-offset="260">
            <img class="image-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/information-isometric_02.png" alt="#">
        </div>
    </div>
</div>  

<!--Section 6 - Importance for companies-->
<div class="bg-light">
    <div class="container padding"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div data-aos="fade-up" data-aos-offset="300">
            <div class="text-center pb-5">
                <h3>Importance of Political Risk for your Company</h3>
                <p class="text-muted">Political Risks have been rising in the past years due to nationalization trends, trade wars and other social shifts - <br>
                        Knowledge of political risk is key to navigate the emerging uncertainties</p>
                <hr class="mt-0 mb-0 hr_sizing">
            </div> 
            <div class="row d-felx align-items-center justify-content-center">
                <div class="col-lg-4 col-sm-12 d-lg-block d-none pb-4">
                    <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/important_03.png" alt="#"> <!--alt shows what the picture is, if it cannot be displayed / d-lg-block & d-none shows picture only on lg-screens not on small screens!-->
                </div>
                <div class="col-lg-8 col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <i class="p-0 m-0 grey feather_28" data-feather="trending-up"></i>
                            <h4 class="pt-2">Risks are rising</h4>
                            <p class="pt-2 text-muted text-justify">Political risk is a growing threat. It stems from more and more places<sup>*</sup></p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <i class="p-0 m-0 grey feather_28" data-feather="alert-triangle"></i>
                            <h4 class="pt-2">Major Threat</h4>
                            <p class="pt-2 text-muted text-justify">Experts agree that political risk is one of the most threatening risks for businesses abroad<sup>**</sup></p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <i class="p-0 m-0 grey feather_28" data-feather="eye"></i>
                            <h4 class="pt-2">Hard to Grasp</h4>
                            <p class="pt-2 text-muted text-justify">Even though it is such a major risk political risk is often underestimated for a variety of reasons<sup>***</sup></p>
                        </div>
                    </div>
                </div>
                <div class="pt-2"><!--mit dem "download" Attribut wird es direkt runtergeladen, ohne kann es zuerst angeschaut werden-->
                    <a href="{% url 'blog-blogs' %}" role="button" class="word-hover1 text-decoration-none">learn more</a>
                </div>
            </div>
        </div>
    </div>  
</div>

<!--Section 7 - Relevance of Political Risk-->
<div class="container padding">
    <div class="pb-2 text-center" data-aos="fade-up" data-aos-offset="300">
        <h3>high risk high reward duality of political risk</h3>
        <p class="text-muted">Protecting and enabling international business activities</p>
        <hr class="hr_sizing">
    </div>
    <div class="row d-flex align-items-center"> 
        <div class="col-lg-7 col-md-12 text-center" data-aos="fade-right" data-aos-offset="300">
            <img class="image-fluid w-75 float-sm-none float-md-none float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/analysis-isometric_02.png" alt="#">
        </div>
        <div class="col-lg-5 col-md-12" data-aos="fade-left" data-aos-offset="200">
            <h6 class="pt-3">Typical use-cases which profit from increased political risk knowledge</h6>  
            <ul>
                <li class="text-muted">Businesses initialising investments in politically diverse countries</li>
                <li class="text-muted">Businesses which already act in a variety of countries seeking to unvail their exposure</li>
                <li class="text-muted">Businesses interested in their individual political risk sets</li>
            </ul>
            <a href="#politicalrisktools" class="word-hover1 text-decoration-none">Explore our political risk tools</a>
        </div>
    </div>
</div>    


<!--Section 8 - BREAK-->
<div class="container-fluid backgroundimg2 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 text-center text-white" data-aos="zoom-in">
            <h1 class="align-middle pb-2">Create Certainty with Uncertainty</h1>
            <h5>Widen your perspectives on market risks</h5>
            <h5>Reduce risk anxiety and recognize shifts in advance</h5>
        </div>
    </div>
</div>

<!--Section 10 - Vorteile - Fast-->

    <div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="pb-6" data-aos="fade-up">
            <h2 class="text-center">Your advantages</h2>
            <hr class="hr_sizing">
        </div>
        <div class="row d-felx align-items-center" data-aos="fade-right">
            <div class="col-lg-8 col-md-12">
                <h4 class="text-center">Up-To-Date - Weekly Political Risk measures</h4>
                <p class="pt-2 text-muted text-justify">
                    In the currently fast changing times where uncertainties and risks arise very quickly, it is important to be able to react quickly. 
                    With our political risk tools a quick adjustment in business strategies is possible. 
                    Political risk trends and monitoring can be adjusted to your risks up to weekly.<sup>*</sup></p>
                <div class="pt-2">
                    <cite class="text-muted fs-small text-justify"><sup>*</sup>Currently only available with our pre determined political risk portfolio</cite>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-left">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/predict_01.png" alt="Card image">
            </div>
        </div>
    </div>  


<!--Section 11 - Vorteile - Predict-->
<div class="bg-light">
    <div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="row d-felx align-items-center" data-aos="fade-right">
            <div class="col-lg-4 col-md-12 text-center">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/fast_01.png" alt="Card image">
            </div>
            <div class="col-lg-8 col-md-12" data-aos="fade-left">
                <h4 class="text-center">Customizable - Weight your Political Risks</h4>
                <p class="pt-2 text-muted text-justify">Our analytical tools contain of a variety of risks and uncertainties, which can be customized.
                    Therefore, it is possible to weight the most important political risks for your business.
                    With this possibility the monitoring of potential risks and uncertainties is more accurate than with a pre determined political risk tool.
                    Even though political risk is such a major risk, it is often overlooked for a variety of reasons, therefore make your business saver with our political risk tools.
                    <sup>*</sup></p>
                <div class="pt-2">
                    <cite class="text-muted fs-small text-justify"><sup>*</sup>This service is currently only available via e-mail inquiry and only for a specific time period. No further tools, like up-to-date monitoring or forecasting is currently available on the webpage. To receive your specific political risk portfolio for a specific time period, just send us an e-mail and we will prepare your political risk portfolio. Since, we are just in the beginning, this service is currently FREE of CHARGE.</cite>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Section 12 - Vorteile - Customize-->
    <div class="container pt-5 pb-5" data-aos="fade-right"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="row d-felx align-items-center">
            <div class="col-lg-8 col-md-12">
                <h4 class="text-center">Predictive - Forecast your Political Risks</h4>
                <p class="pt-2 text-muted text-justify">It is not only important to understand the current political risk situation in a country, but also the political risks and uncertainties which could occur in the future.
                    Forecasts are often made based on the current situation, however the future is rarely as expected. Start making non-linear forecasts.
                    With our political risk tools you cannot only gain up-to-date and customized political risk data, but also make estimations on your political risk portfolio.
                    <sup>*</sup></p>
                    <div class="pt-2">
                        <cite class="text-muted fs-small text-justify"><sup>*</sup>This service is currently only available via e-mail inquiry and only for a specific time period. No further tools, like up-to-date monitoring or customizing is currently available on the webpage. To receive your forecasting for a specific political risk portfolio and a specific time period, just send us an e-mail and we will prepare your forecast. Since, we are just in the beginning, this service is currently FREE of CHARGE.</cite>
                    </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-left">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/customize_01.png" alt="Card image">
            </div>
        </div>
    </div>  

<!--Section 13 - BREAK-->
<div class="container-fluid backgroundimg4 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center" data-aos="zoom-in">
        <div class="col-md-12 text-center text-white">
            <h1 class="align-middle">Construction of our Political Risk Tools</h1>
            <h5 class="pt-1">We want to redefine the approach of measuring, customizing, monitoring and forecasting Political Risks and Uncertainties</h5>
            <h5>Our approach is to measure political risk with the power of the population instead of relying on subjective experts</h5>
        </div>
    </div>
</div>

       
<!--Section 14 - Understand the new approach-->

<div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
    <div class="pb-6 text-center" data-aos="fade-up">
        <h2>Overview Of The New Approach</h2>
        <p class="text-muted">Our goal is to gain new insights on political risk. Our tools seek to understand the view of the population.
            Research has shown a strong link between political risk and our evaluations.</p>
        <hr class="hr_sizing">
    </div>
    <div class="row d-felx align-items-center">
        <div class="col-lg-8 col-md-12 text-center"  data-aos="fade-right" data-aos-offset="180">
            <h4>Modern measuring technique</h4> 
            <p class="pt-2 text-muted text-justify">By utilizing Google data in a new way we are able to create specific and up-to-date political risk evaluations. 
                We use modern algorithms and key words to extract the relevant data points for each region. 
                This method also enables industry or company specific adaptations. 
                For more information download our white paper.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 text-center" data-aos="fade-left" data-aos-offset="200">
            <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/unique_02.png" alt="Card image">
        </div>
    </div>
</div>  
<div class="bg-light">
    <div class="container pt-5 pb-5"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
        <div class="row d-felx align-items-center">
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-right" data-aos-offset="200">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-left" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/implement_01.png" alt="Card image">
            </div>
            <div class="col-lg-8 col-md-12 text-justify" data-aos="fade-left" data-aos-offset="180">
                <h4>Validation of our methods</h4>
                <p class="pt-2 text-muted">We validated our data based on scientific standards. 
                    Event studies and regression techniques were used to validate the data and test our main hypotheses. 
                    The outcome of our research all pointed to a strong link between our data and political risk in the evaluated countries.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Section 15 - Understand the SBPRI-->
<div class="container padding" id="understandpoliticalrisk"> <!--mit container fluid schaut es auf dem kleinen bildschirm feiner aus, aber auf dem großen nicht mehr!!!-->
    <div data-aos="fade-up">
        <div class="text-center pb-5">
            <h3>Understand the Basics of our Political Risk Measurement</h3>
            <hr class="mt-0 mb-0 hr_sizing">
        </div> 
        <div class="row d-felx align-items-center pb-4">
            <div class="col-lg-8 col-md-12 text-center">
                <p class="text-justify text-muted">In the past years a few methods have established. 
                    Primarily there are expert-based, news-based and data-based political risk measurements. 
                    Since many of these political risk measures often rely on different parameters, like experts or newspaper authors, we wanted to find a different approach for measuring political risk.
                    Our political risk index is search-based, which means that the data is collected via search requests of the global population on the most popular search engine Google&trade;. 
                    That means our poltical risk index does not rely on the opinion of experts or journalists, but relies on the felt uncertainty of the population in a country.
                    If you want to learn more about the creation of our political risk tools, you can download our white paper with the link below.
                </p>
                <div class="d-flex justify-content-start pt-2"><!--mit dem "download" Attribut wird es direkt runtergeladen, ohne kann es zuerst angeschaut werden-->
                    <a href="test_white paper.pdf" download="text_white paper.pdf" role="button" class="word-hover1 text-decoration-none">Download White Paper</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <img class="img-fluid w-75 float-sm-none float-md-none float-lg-right" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/understand_03.png" alt="Card image">
            </div>
        </div>
    </div>
</div>

<!--Section 16 - BREAK-->
<div class="container-fluid backgroundimg3 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
    <div class="row d-flex justify-content-center" data-aos="zoom-in">
        <div class="col-md-12 text-center text-white">
            <h1 class="align-middle pb-2">Continuous development of our services</h1>
            <h5>We want to provide the best possible political risk tools and are therefore continuously developing new tools</h5>
            <h5>And this is just the beginning</h5>
        </div>
    </div>
</div>

<!--Section 17 - just the beginning-->
<div class="bg-light">
    <div class="container padding" data-aos="fade-up" data-aos-offset="300">
        <div class="text-center pb-5"> 
            <h3>Just the beginning</h3>
            <hr class="mt-0 mb-0 hr_sizing pb-4">
            <p class="text-justify text-muted pt-2">Since we are just in the beginning, some of our services are currently not available on the webpage.
            If you have any other ideas, which services we should provide, just send us an e-mail.
            Subscribe to our newsletter to receive information when new services are available.
            In order to keep our services free of charge, we are thankful for every <a href="{% url 'blog-coming-soon'%}" type="" class="word-hover1 text-decoration-none">Donation</a>. We want to push the understanding for uncertainty around the world (See the imprint section).
            </p>
            <div class="row justify-content-center">
                <div class="col-lg-6 d-lg-block d-none text-center">
                    <img class="w-50" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/start_01.png">
                </div> 
            </div>
            <div class="row pt-2 d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <form action="{% url 'subscription'%}" method="POST">
                        {% csrf_token %}
                        {% for field in subscribeform %}
                        <div class="input-group">
                            {{ field }}
                            <div class="input-group-append">
                                <input class="btn btn-secondary" type="submit" value="Subscribe now">
                            </div>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'blog-coming-soon'%}" type="" class="ml-3 word-hover1 text-decoration-none">Coming soon:</a>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4 col-md-6 col-sm-12 text-center d-flex">
                <div class="card card_1 flex-fill">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col-lg-4">
                            <i class="p-0 m-0 grey feather_28" data-feather="folder"></i>
                        </div>
                        <div class="col-lg-8">
                            <h5 class="text-center">PORTFOLIO</h5>
                            <p class="card-title text-muted text-md-left text-lg-left text-center text-sm-center">Create and forecast your own political risk portfolio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center d-flex">
                <div class="card card_2 flex-fill">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col-lg-4">
                            <i class="p-0 m-0 grey feather_28" data-feather="grid"></i>
                        </div>
                        <div class="col-lg-8">
                            <h5 class="text-center">PROFILE</h5>
                            <p class="card-title text-muted text-md-left text-lg-left text-center text-sm-center">Create your own porfile on our webpage</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 text-center d-flex">
                <div class="card card_3 flex-fill">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col-lg-4">
                            <i class="p-0 m-0 grey feather_28" data-feather="file-text"></i>
                        </div>
                        <div class="col-lg-8">
                            <h5>REPORTS</h5>
                            <p class="card-title text-muted text-md-left text-lg-left text-center text-sm-center">Quarterly Political Risk Reports for different countries</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Maybe consulting services?-->
        </div>
    </div>    
</div>

<!--18 - Join PoliticalRisk-->
    <div class="container-fluid backgroundimg5 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
        <div class="row d-flex justify-content-center" data-aos="zoom-in">
            <div class="col-md-12 text-center">
                <h1 class="align-middle mb-4 text-white">Start Your Political Risk Analysis</h1>
                <a href="{% url 'data-main' %}" role="button" class="mt-1 btn btn-secondary">Get Started</a> <!--new page with coming soon-->
            </div>
        </div>
    </div>

{% endblock content %}



