{% extends "blog/base.html" %}
{% block content %}
    <div class="jumbotron" style="margin-bottom:10px"> 
        <i class="float-right smaller" data-feather="feather"></i>
        <h1 class="display-4">Blog Home!</h1> 
        <hr class="my-4"> 
        <p class="lead">
            <a class="btn btn-secondary" href="{% url 'blog-about' %}" role="button">Get to know the people behind the scenes</a>
          </p>  
          
    </div>
    
    <div class="behind-content">
        <h5 class="article-metadata" style="padding-bottom: 10px;">Posts</h5>

    {% for post in posts %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2 text-secondary" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:'d F Y' }}</small>
            <form action="{% url 'like_post' post.pk %}" method="POST">
              {%csrf_token%}
              {%if user in post.likes.all %}
              <button type="submit" name="post_id" class="btn btn-warning btn-small float-right align-baseline" value="{{post.id}}"> <! post.id to pass the post which is being liked to backend>
                <i class="p-1" data-feather="feather"></i> {{post.total_likes}}
              </button>
              
              {% else %}
              <button type="submit" name="post_id" class="btn btn-secondary btn-small float-right align-baseline" value="{{post.id}}"> <! post.id to pass the post which is being liked to backend>
                <i class="p-1" data-feather="feather"></i> {{post.total_likes}}
              </button>
              {% endif %}
            </form>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id%}">{{ post.title }}</a></h2>
          <img src="{{post.picture.url}}" alt="">
          <p class="article-content">{{ post.content }}</p>
          
        
    
        <ul class="list-unstyled">
        {% for comment in post.comments.all %}
        
        <li class="media mt-3 article-metadata">
        <img class="rounded-circle content-img" src="{{comment.author.profile.image.url}}">
          <div class="">
            <a class="mr-1 text-secondary" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.date_posted|date:'d N Y' }}</small>
            <p>{{ comment.content|slice:":200" }}</p>
            </div>
        </li>
        
        {% endfor %} 
        </ul> 

        </div>
    </article>  
    {% endfor %}

    {% if is_paginated %}

      {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
          <a href="?page={{num}}" class="btn btn-info mb-4">{{num}}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
          <a href="?page={{num}}" class="btn btn-outline-info mb-4">{{num}}</a>
        {% endif %}

      {% endfor %}

    {% endif %}

    </div>

    <div class="container-fluid backgroundimg position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
      <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center bg-light rounded opacity-bg py-4">
              <h1 class="align-middle pb-2 fontcolor">create CERTAINTY with UNCERTAINTY</h1>
              <h5>We want to redefine the approach of measuring, speacifiing, monitoring and forecasting Political Risk</h5>
              <h5>Our approach is to measure political risk with the 
                  power of the population and not experts</h5>
              </div>
                  <div class="pt-2">
              <a href="{% url 'data-main'%}" type="button" class="mt-3 btn btn-secondary">VIEW DATA</a>
          </div>
      </div>
  </div>

  <!--Section 2 Keymessages-->
  <div class="container padding">
    <div class="text-center">
        <!--<img class="svgsizing" src="svg/worldmap_01.svg"> d-flex und flex-fill-> Cards with different Text-lenghts same heigt when word wrapping-->
    </div>
    <div class="row" data-aos="fade-up">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
            <div class="card">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                    </div>
                    <h4 class="card-title">Understand</h4>
                    <p class="card-text text-muted">the importance of political risk with our unique political risk tools</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
            <div class="card">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_05.png">
                    </div>
                    <h4 class="card-title">Create</h4> <!--Monitor-->
                    <p class="card-text text-muted">easily, quickly and specifically your political risks with our political risk tools</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
            <div class="card">
                <div class="card-body flex-fill">
                    <div class="pt-2 pb-1">
                        <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                    </div>
                    <h4 class="card-title">Use</h4> <!--Forecast-->
                    <p class="card-text text-muted"> the monitoring, forecasting and predicting possibilities with our political risk tools</p>
                </div>
                <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
            </div>
        </div>
    </div>
  </div>
{% endblock content %}
