{% extends "blog/base.html" %}

{% block content %}
<div class="container padding">
    <h1>Impressum</h1>
    <p>Alexander Senne & David Reinthaler</p>
    <p>Mustergasse 12/1/1,
        1100 Vienna
        Austria
    </p>
    <ul class="list-unstyled"> <!--keine bullet points-->
        <li><p><span class="font-weight-bold">Phone:</span> 066012345645</p></li>
        <li><p><span class="font-weight-bold">E-Mail:</span> mustermann@musterdomain.at</p></li>
    </ul>
</div>

<div class="container"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Haftung für Inhalte</h3>
            <p>Die Inhalte dieser Webseite werden ständig weiterentwickelt und wird auf die Korrektheit der angegebenen Daten, Analysen, Informationen etc. großer Wert gelegt. Trotzdem kann für die Korrektheit aller auf dieser Webseite befindlicher Inhalte keine Haftung übernommen werden, speziell für jene die von Dritten bereitgestellt werden. Sollten nicht aktuelle, problematische oder rechtswidrige Inhalte auftreten, bitten wir Sie uns umgehend zu kontaktieren. Die Kontaktdaten sind dem Impressum zu entnehmen.</p>
        </div>
    </div>
</div>

<div class="container pt-3"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Haftung für Links</h3>
            <p>Die auf dieser Webseite befindlichen Links können zu anderen Webseiten führen. Für die Inhalte dieser Dritt-Webseiten kann keine Verwantwortung übernommen werden. Falls Ihnen rechtswidrige Links bzw. Inhalte auf Dritt-Webseiten auf welche unsere Links verweisen, bitten wir Sie uns zu kontaktieren. Die Kontaktdaten können dem Impressum entnommen werden.</p>
        </div>
    </div>
</div>

<div class="container pt-3"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Urheberrechtshinweis / Copyright</h3>
            <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Analysen, Videos etc.) unterliegen dem Urheberrecht. Falls notwendig, werden wir unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen. Eine Verwendung der Inhalte ist nur mit ausdrücklicher Genehmigung zulässig.</p>
        </div>
    </div>
</div>

<div class="container pt-3"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Verwendung von Externen Tracking-Diensten</h3>
            <p></p>
        </div>
    </div>
</div>

<div class="container pt-3"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Verwendung von Google Analytics</h3>
            <p></p>
        </div>
    </div>
</div>

<div class="container pt-3"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>Verwendung von Google Trend&copy;</h3>
            <p>Gemäß den derzeit geltenden Nutzungsbedingungen von Google und zu Google Trend können diese Daten unter Berücksichtigung des Ausweises der Datenquelle verwendet werden. Siehe nachfolgendes Zitat.
                "Sie können Informationen aus Google Trends gemäß den Google-Nutzungsbedingungen verwenden. Machen Sie bei der Wiederverwendung von Trends-Daten mithilfe eines Zitats deutlich, dass die Informationen von Google stammen." (Quelle: https://support.google.com/trends/answer/4365538?hl=de)
                Somit wird deutlich ausgewiesen, dass sofern nicht anders ausgewiesen, die zur Analyse verwendeten Daten großteils von Google Trend&copy; stammen. Diese werden aufbereitet und in einer angepassten Form für die spezifischen Zwecke der Webseite und der jeweiligen Inhalte bzw. Analysen widergegeben.
            </p>
        </div>
    </div>
</div>

<div class="container pt-3 pb-4"> 
    <div class="row d-flex justify-content-start">
        <div class="col-8 text-justify">
            <h3>EU-Streitschlichtung</h3>
            <p>Verbraucher haben die Möglichkeit mittels der Online Streitbeilegungsplattform der EU Beschwerde einzureichen. </p>
        </div>
    </div>
</div>



{% endblock content %}
