{% extends "blog/base.html" %}

{% block content %}
<!--Section 1-->
        <div class="container-fluid backgroundimg11 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12 text-center rounded py-4 px-6">
                    <h1 class="align-middle pb-2 text-white">knowledge is the Key</h1>
                    <div class="card_7 rounded py-3 px-3">
                        <h5>Experience our Download Section and recommended literatures, political risk providers.</h5>
                        <div class="row d-inline-flex">
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#downloads" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="download"></i>Downloads</a> 
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#recommendedliterature" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="book"></i>Risk Literature</a>
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="mailto:politicaluncertainty@gmail.com" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="send"></i>Contact Us</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 2 - Download Section-->
        <div class="container pt-5 pb-6">
            <div class="text-center">
                <h3>Download Section</h3>
                <p class="text-muted">Download everything you need to know about our data</p>
                <hr class="hr_sizing">
                <!--<img class="svgsizing" src="svg/worldmap_01.svg"> d-flex und flex-fill-> Cards with different Text-lenghts same heigt when word wrapping-->
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                            </div>
                            <h4 class="card-title">Report</h4>
                            <p class="card-text text-muted">Quarterly Report of the Second Quarter</p>
                        </div>
                        <div class="pb-3 pt-1">
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="{% url 'blog-coming-soon' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="loader"></i>coming soon</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_05.png">
                            </div>
                            <h4 class="card-title">White Paper</h4> <!--Monitor-->
                            <p class="card-text text-muted">For an overview about our political risk tool</p>
                        </div>
                        <div class="pb-3 pt-1">
                            <a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="btn btn-outline-secondary btn-custom data_button_custom"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="download"></i>Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                            </div>
                            <h4 class="card-title">Methodology</h4>
                            <p class="card-text text-muted">For a detailed information about the creation of our poltical risk tool with the usage of Google Trends</p>
                        </div>
                        <div class="pb-3 pt-1">
                            <a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="btn btn-outline-secondary btn-custom data_button_custom"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="download"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 3 - Recommended Literature-->
        <div class="bg-light">
            <div class="container padding" id="recommendedliterature" data-aos="fade-up">
                <div class="text-center">
                    <h3>Recommended Literature</h3>
                    <p class="text-muted">Bellow is a selection of literatures which provide a useful insight in the world of political risks</p>
                    <hr class="hr_sizing">
                    <!--<img class="svgsizing" src="svg/worldmap_01.svg"> d-flex und flex-fill-> Cards with different Text-lenghts same heigt when word wrapping-->
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                        <div class="card">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-3">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/book_01.jpeg">
                                </div>
                                <h4 class="card-title">Recommended Literature</h4>
                                <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus soluta ad necessitatibus nulla? Quos numquam voluptatibus consequatur! Quasi ea odio deserunt iste vero esse tempore quidem dicta rem officia!</p>
                                <a href="https://en.wikipedia.org/wiki/Condoleezza_Rice" target="_blank" class="float-right word-hover3 text-size-small text-decoration-none"><cite>Condoleezza Rice</cite></a>
                            </div>
                            <div class="pb-3 pt-1">
                                <a href="https://www.amazon.de/Political-Risk-Insecurity-Twenty-First-Century/dp/1474609813/ref=pd_sbs_1?pd_rd_w=Wq7c2&pf_rd_p=a0a2bb41-2b9d-47ea-9dff-8a3ade3a13d6&pf_rd_r=3X5087H9ZAFGJCSX9RX2&pd_rd_r=b4f54b0c-11b4-4fc7-a48e-cddfbb8da22b&pd_rd_wg=Ly80y&pd_rd_i=1474609813&psc=1" target="_blank" role="button" class="btn btn-outline-secondary btn-custom data_button_custom"><i class="mt-1 grey pull-left feather_16" data-feather="shopping-cart"></i>Buy</a> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex">
                        <div class="card">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-3">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/book_02.jpeg">
                                </div>
                                <h4 class="card-title">Recommended Literature</h4> <!--Monitor-->
                                <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus magni obcaecati ipsum itaque harum asperiores sequi eius cupiditate perferendis aut repellat ut assumenda aperiam voluptatibus reprehenderit maiores cum, dolore quae.</p>
                                <a href="https://en.wikipedia.org/wiki/Condoleezza_Rice" target="_blank" class="float-right word-hover3 text-size-small text-decoration-none"><cite>Condoleezza Rice</cite></a>
                            </div>
                            <div class="pb-3 pt-1">
                                <a href="https://www.amazon.de/No-Higher-Honor-Memoir-Washington/dp/0307986780/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=H25RV3A3WIS2&dchild=1&keywords=no+higher+honor+a+memoir+of+my+years+in+washington&qid=1620670761&sprefix=no+higher+honor%2Caps%2C195&sr=8-1" target="_blank" role="button" class="btn btn-outline-secondary btn-custom data_button_custom"><i class="mt-1 grey pull-left feather_16" data-feather="shopping-cart"></i>Buy</a> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex">
                        <div class="card">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-3">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/home_imgs/book_03.jpeg">
                                </div>
                                <h4 class="card-title">Recommended Literature</h4> <!--Forecast-->
                                <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eligendi sunt esse, dicta ad ut placeat beatae, cupiditate, ipsum quo a? Asperiores, labore sint! Debitis inventore alias voluptate modi incidunt!</p>
                                <a href="https://en.wikipedia.org/wiki/Condoleezza_Rice" target="_blank" class="float-right word-hover3 text-size-small text-decoration-none"><cite>Condoleezza Rice</cite></a>
                            </div>
                            <div class="pb-3 pt-1">
                                <a href="https://www.amazon.de/dp/B077FPMD72/ref=dp_kinw_strp_1" target="_blank" role="button" class="btn btn-outline-secondary btn-custom data_button_custom"><i class="mt-1 grey pull-left feather_16" data-feather="shopping-cart"></i>Buy</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 4 - Further downloads & recommended literatures-->
        <div id="downloads">
            <div data-aos="fade-up">
                <div class="container padding">
                    <div class="text-center pb-5">
                        <h3 class="mb-2 mt-0">Further Downloads & recommended Literatures</h3>
                        <p class="mb-0 mt-0 text-muted"> Following are all of our available download documents and scientific literatures which we recommend</p>
                        <hr class="hr_sizing">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12 text-lg-left text-center">
                            <h3>Downloads:</h3>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="text-muted">White Paper</li>
                                        <li class="text-muted">Methodology</li>
                                        <li class="text-muted">Country Data</li>
                                        <li class="text-muted">Raw Data</li>
                                        <li class="text-muted">Report (2021)</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <ul class="list-unstyled">
                                        <li><a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="word-hover1 text-decoration-none">download</a></li>
                                        <li><a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="word-hover1 text-decoration-none">download</a></li>
                                        <li><a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="word-hover1 text-decoration-none">download</a></li>
                                        <li><a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="word-hover1 text-decoration-none">download</a></li>
                                        <li><a href="{% url 'blog-coming-soon' %}" role="button" class="word-hover2 text-decoration-none">coming soon</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="pt-2">Literatures:</h3>
                            <ul class="list-unstyled">
                                <li class="mr-2 text-muted">Policital Risk by <cite>Condoleezza Rice </cite><a href="#" target="_blank" role="button" class="word-hover1 text-decoration-none">buy</a></li>
                                <li class="mr-2 text-muted">Policital Risk by <cite>Condoleezza Rice </cite><a href="#" target="_blank" role="button" class="word-hover1 text-decoration-none">buy</a></li>
                                <li class="mr-2 text-muted">Policital Risk by <cite>Condoleezza Rice </cite><a href="#" target="_blank" role="button" class="word-hover1 text-decoration-none">buy</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 text-center">
                            <img class="image-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/reports_01.png">
                        </div>
                    </div> 
                </div>
            </div>
        </div>

<!--Secion 4-->
        <div class="container-fluid backgroundimg7 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 text-center text-white" data-aos="zoom-in">
                    <h1 class="align-middle">Knowledge is the Key in a world full of uncertainties</h1>
                </div>
            </div>
        </div>



{% endblock content %}