{% extends "blog/base.html" %}

{% block content %}
<!--Section 1-->
        <div class="container-fluid backgroundimg14 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12 text-center rounded py-4 px-6">
                    <h1 class="align-middle pb-2 text-white">Create Certainty with Uncertainty</h1>
                    <div class="card_7 rounded py-3 px-3">
                        <h5>Understand political risks to reduce your uncertainties</h5>
                        <div class="row d-inline-flex">
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="dollar-sign"></i>Donate</a> 
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="mailto:politicaluncertainty@gmail.com" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="globe"></i>Cooperations</a>
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#politicalrisk" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="key"></i>Political Risk</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 2-->
        <div class="container pt-5 pb-6" id="politicalrisk">
            <div class="text-center pb-1">
                <h3>Political Risk</h3>
                <p class="text-muted">What are Political Risk?</p>
                <hr class="mt-0 mb-0 pb-5 hr_sizing">
                <div class="row" data-aos="fade-up" data-aos-offset="170">
                    <div class="col-lg-4 col-sm-12 pb-5">
                        <img class="w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                        <div>
                            <a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="mt-2 word-hover1 text-decoration-none"><strong>Download White Paper</strong></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <p class="mb-0 mt-0 text-justify text-muted"> With the creation of our masterthesis the passion for political risk rose tremendously. 
                            Our mission was to create an index, which comes form the people and represents the peoples uncertainty about a countries political situation, regulation and sanctions. 
                            All of these we wanted to create with a newly approached tool, which all of us are using every day: GOOGLE.&trade; 
                            With the data provision of <a class="word-hover1 text-decoration-none" role="button" href="https://trends.google.de/trends/" target="_blank">Google Trends&trade;</a> this became reality. We are in the beginning of our development phase and want to provide a solution for small, middle and big companies to monitor and forecast political risk in certain countries in many different time periods (yearly, monthly, daily and even hourly) at the expanse of very little costs. 
                            It was important for us to create a plitical risk tool, which can be used from everyone and can be adapted in any given way.
                            For more information about our approach of measuring political risks download our white paper.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!--Section 3-->
        <div class="bg-light">
            <div class="container padding">
                <div class="text-center pb-5">
                    <h3>Political Risk Categories</h3>
                    <p class="text-muted">There are many different political risks. We made three major categories. The following show some examples of our categories.</p>
                    <hr class="hr_sizing">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 pt-2 text-center d-flex" data-aos="fade-up" data-aos-offset="170">
                        <div class="card card_1">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                                </div>
                                <h4 class="card-title">Political Sanction</h4>
                                <ul class="text-muted list-unstyled">
                                    <li class="pt-3">Sanctions</li>
                                    <li class="pt-2">Corruption</li>
                                    <li class="pt-2">Burreaucracy</li>
                                    <li class="pt-2">Explanation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="185">
                        <div class="card card_2">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_02.png">
                                </div>
                                <h4 class="card-title">Political Regulation</h4>
                                <ul class="text-muted list-unstyled">
                                    <li class="pt-3">Sanctions</li>
                                    <li class="pt-2">Corruption</li>
                                    <li class="pt-2">Burreaucracy</li>
                                    <li class="pt-2">Explanation</li>
                                </ul>
                            </div>
                            <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="200">
                        <div class="card card_3">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                </div>
                                <h4 class="card-title">Political Situation</h4>
                                <ul class="text-muted list-unstyled">
                                    <li class="pt-3">Sanctions</li>
                                    <li class="pt-2">Corruption</li>
                                    <li class="pt-2">Burreaucracy</li>
                                    <li class="pt-2">Explanation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--Section 4-->
{% include "data/countries.html" %}

<!--Donation, Subscription Area-->
        <div class="bg-light">
            <div class="container padding" data-aos="fade-up">
                <div class="text-center pb-5">
                    <h3>Just the Beginning of Something Big</h3>
                    <hr class="mt-0 mb-0 hr_sizing">
                </div> 
                <div class="row d-felx align-items-center">
                    <div class="col-lg-8 col-md-12 text-center">
                        <h6 class="float-lg-left">Our Mission is only working with your support</h6> <br>
                        <p class="pt-2 text-muted text-justify">We are working on new services to make political risks easier to grasp, monitor and forecast. 
                            Since we are at the beginning of our endeavour for high value political risk evaluation most of our services are free of charge at the moment. 
                            Therefore, we rely on cooperation, funding and donations – feel free to contact us for exciting new cooperation or make a donation to support us so that we can further support your business.
                        </p>
                        <div class="float-lg-left float-sm-none">
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="mailto:politicaluncertainty@gmail.com"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="mail"></i>Contact Us</a>
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom ml-2" href="#"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="dollar-sign"></i>Donate</a>
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom ml-2" href="{% url 'blog-coming-soon' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="loader"></i>Coming Soon</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12  d-flex justify-content-center">
                        <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/customize_01.png" alt="Card image">
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
