{% extends "blog/base.html" %}

{% block content %}
<!--Section 1-->
        <div class="container-fluid backgroundimg14 position-relative d-flex align-items-center justify-content-center"> <!--nur so ist es möglich, dass der Content auch gecentert ist!-->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12 text-center rounded py-4 px-6">
                    <h1 class="align-middle pb-2 text-white">Political Risk in international business</h1> <!--vorher war: Political Risk in the international business context-->
                    <div class="card_7 rounded py-3 px-3">
                        <h5>Businesses acting in foreign countries often deal with political risks when it is already too late</h5>
                        <div class="row d-inline-flex">
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="dollar-sign"></i>Donate</a> 
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#riskproviders" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="home"></i>Risk Providers</a>
                            </div>
                            <div class="col-lg-4 col-sm-12 pt-2">
                                <a href="#politicalrisk" role="button" class="btn btn-secondary data_button_custom"><i class="mt-1 orange pull-left feather_16" data-feather="key"></i>Political Risk</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Section 2-->
        <div class="container pt-5 pb-6" id="politicalrisk">
            <div class="text-center pb-1">
                <h3>What is Political Risk?</h3>
                <p class="text-muted">Defining Political Risk</p>
                <hr class="mt-0 mb-0 pb-5 hr_sizing">
                <div class="row" data-aos="fade-up" data-aos-offset="170">
                    <div class="col-lg-4 col-sm-12 pb-5">
                        <img class="w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                        <div>
                            <a href="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" target="_blank" download="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Downloads/White+Paper+2021.pdf" role="button" class="mt-2 word-hover1 text-decoration-none"><strong>Download White Paper</strong></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <p class="mb-0 mt-0 text-justify text-muted">Political risk is seen as the influence political change by any political actor may have on investments.
                            For example this could be the President of say the US who introduces a new sanction on european imports. 
                            Or a political party promoting behaviour which reduces the certainty of justice.
                            Classicaly this would mean when a politician takes influence on the business environment of his/her country in a positive/negative fashion.  
                            However
                            With the creation of our masterthesis the passion for political risk rose tremendously. 
                            Our mission was to create an index, which comes form the people and represents the peoples uncertainty about a countries political situation, regulation and sanctions. 
                            All of these we wanted to create with a newly approached tool, which all of us are using every day: GOOGLE.&trade; 
                            With the data provision of <a class="word-hover3 text-decoration-none" role="button" href="https://trends.google.de/trends/" target="_blank">Google Trends</a>&trade; this became reality. We are in the beginning of our development phase and want to provide a solution for small, middle and big companies to monitor and forecast political risk in certain countries in many different time periods (yearly, monthly, daily and even hourly) at the expanse of very little costs. 
                            It was important for us to create a plitical risk tool, which can be used from everyone and can be adapted in any given way.
                            For more information about our approach of measuring political risks download our white paper.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!--Section 3-->
        <div class="bg-light">
            <div class="container padding">
                <div class="text-center pb-5">
                    <h3>Important Political Risk Catalysts</h3>
                    <p class="text-muted">National & International Actors, Institutional Strength & Culture </p>
                    <hr class="hr_sizing">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 pt-2 text-center d-flex" data-aos="fade-up" data-aos-offset="170">
                        <div class="card card_1">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png">
                                </div>
                                <h4 class="card-title">National Actors</h4>
                                <p class="text-muted list-unstyled text-justify">
                                    Typically political events are triggered by high ranking politicians. They clearly have the strongest link to politic
                                    However, the introduction of social media has made it much easier for individuals or political groups to take political action.
                                    This shift in the political influence landscape makes understanding and forecasting risks much more nuanced.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="185">
                        <div class="card card_2">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_02.png">
                                </div>
                                <h4 class="card-title">International Actors</h4>
                                <p class="text-muted list-unstyled text-justify">
                                    On top of the classical and new political national actors international infleunce has become a recurring topic 
                                    in political risk. International activists and terrorist groups can have major influence on the political risks
                                    a country witnesses. "more in blog on"
                                </p>
                            </div>
                            <!--<img class="card-img-bottom imgblack" src="img/trade_01.jpg" alt="Card image">--> <!--falls wir hier doch Bilder haben wollen-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center pt-2 d-flex" data-aos="fade-up" data-aos-offset="200">
                        <div class="card card_3">
                            <div class="card-body flex-fill">
                                <div class="pt-2 pb-1">
                                    <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                                </div>
                                <h4 class="card-title">Institutional Strength</h4>
                                <p class="text-muted list-unstyled text-justify">
                                    Individual Actors can always influence a political system, however the institutional strength sets the boundries of how effectively 
                                    they push the boundries. Steady institutions are a main factor for longterm stability. They are however, no guarantee.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--Section 4 - Donation, Subscription Area-->
        <div>
            <div class="container padding" data-aos="fade-up">
                <div class="text-center pb-5">
                    <h3>Accounting for all Political Risk Catalysts</h3>
                    <hr class="mt-0 mb-0 hr_sizing">
                </div> 
                <div class="row d-felx align-items-center">
                    <div class="col-lg-8 col-md-12 text-center">
                        <h6 class="float-lg-left">Is political risk not too complex to put in numbers?</h6> <br>
                        <p class="pt-2 text-muted text-justify">
                            Political risk inducers can come from pretty much any corner of the globe. How can we detect how high the risk for 
                            a political event really is? <br>
                            The first link is from risk to uncertainty which is actually just a wording issue.
                            Risk as defined by <a href="https://archive.org/details/riskuncertaintyp00knigrich" traget="_blank" role="button" class="word-hover text-decoration-none">Frank Knight in 1921</a> 
                            states clearly that political risk is an uncertainty, since risks only capture clearly defined outcomes. <br>
                            We then start by proxying political risk with the percieved uncertainty of the population.
                            When individuals feel uncertain about a topic lets say buying a house they will tend to try and reduce this uncertainty by improving their 
                            knowledge. Knowledge improves the understanding of the situation and the outcome of, in this example, buying a house 
                            will more likely meet their expectations.
                            Where to better search for information than Google - the information codex. The more the population searches for a topic related
                            to political risk the higher the percieved political uncertainty. 
                            The population is under the influence of all uncertainty catalysts as their everyday lives revolve around
                            navigating all types of uncertainty.
                            
                        </p>
                        <div class="float-lg-left float-sm-none">
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom" href="mailto:politicaluncertainty@gmail.com"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="mail"></i>Contact Us</a>
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom ml-2" href="#"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="dollar-sign"></i>Donate</a>
                            <a role="button" class="btn btn-outline-secondary btn-custom data_button_custom ml-2" href="{% url 'blog-coming-soon' %}"><i class="ml-1 mt-1 grey pull-left feather_16" data-feather="loader"></i>Coming Soon</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12  d-flex justify-content-center">
                        <img class="img-fluid w-75" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/customize_01.png" alt="Card image">
                    </div>
                </div>
            </div>
        </div>

<!--Section 5 - Risk Providers (Carousel)-->
        <div class="bg-light">
            <div class="container padding" data-aos="fade-up" id="riskproviders">
                <div class="pb-5 text-center">
                    <h3>Political Risk Providers</h3>
                    <p>The following selection shows different political and country risk data providers</p>
                    <hr class="hr_sizing">
                </div>
                <div id="Carousel_Companies" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.prsgroup.com/explore-our-products/international-country-risk-guide/"><h5>Country Risk</h5></a>
                                        <p class="card-text text-justify text-muted">The PRS Group provides many different political risk indices</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.policyuncertainty.com/"><h5>Economic Policy Uncertainty</h5></a>
                                        <p class="card-text text-justify text-muted">The economic policy uncertainty index is based on newspaper articles</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <!--Second Carousel Group-->
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.transparency.org/en/cpi/2020/index/nzl "><h5>Corruption Perception Index</h5></a>
                                        <p class="card-text text-justify text-muted">Transparency international provides an political risk index specific for corruption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center d-flex">
                                <div class="card">
                                    <div class="card-body flex-fill">
                                        <div class="pt-2 pb-1">
                                            <img class="d-block w-100" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/monitor_03.png" alt="First slide">
                                        </div>
                                        <a class="card-title service_button stretched-link text-decoration-none" role="button" target="_blank" href="https://www.marsh.com/us/insights/research/political-risk-map-2020.html"><h5>Political Risk Map</h5></a>
                                        <p class="card-text text-justify text-muted">The political risk map from the Marsh LLC is based on the data from Fitch Solutions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    </div>
                    <a class="carousel-control-prev" href="#Carousel_Companies" role="button" data-slide="prev">
                        <i class="fa fa-3x fa-angle-left" aria-hidden="true"></i> <!--normalerweise ist ein span tag hier, aber mit fa kann es besser gestyled werden-->
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Carousel_Companies" role="button" data-slide="next">
                        <i class="fa fa-3x fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        
<!--Section 6 - List Countries-->
{% include "data/countries.html" %}


{% endblock content %}
