<!--with extending it -> we can use the base.html, Interpolierung - damit wird alles von der base.html seite übernommen-->
{% extends "blog/base.html" %}
{% block content %}
<!-- Navbar Right Side -->
        <div class="bg-light">
            <div role="main" class="container">
                <div class="row padding-post-detail">
                    <div class="col-md-12">
                        <h4 class="mb-3">{{ page_obj.paginator.count }} Posts by {{ view.kwargs.username }}</h4>
                    {% for post in posts %} <!--loop over posts-->
                        <article class="media content-section margin-posts">
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                            <div class="media-body">
                                  <div class="article-metadata">
                                      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                      <small class="text-muted">{{ post.date_posted|date:"d. F, Y" }}</small>
                                      <a class="float-right" href="{% url 'blog-blogs' %}"><small>Back to the Blog Overview</small></a>
                                  </div>
                                <div class="row">
                                  <div class="col-md-12 pt-1">
                                      <div class="container-fluid backgroundimg-blog rounded" style="background: url({{ post.picture.url }}) no-repeat center center">
                                      </div>
                                  </div>
                                  <div class="col-md-12">
                                    <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3> <!--post.id is the primary key-->
                                    <p class="article-content pt-3 text-justify text-muted">{{ post.content|safe|truncatewords:100 }}</p>
                                  </div>
                              </div>
                            </div>
                        </article>
                    {% endfor %}
                    {% if is_paginated %}

                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
                            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}

                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

<!--Werbung-->
        <div class="container">
            <div class="row padding">
                <div class="col-4 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1 text-center">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                            </div>
                            <h4 class="card-title">Werbung</h4>
                            <p class="card-text text-muted">Want to get notified as soon as a new blog post is published?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1 text-center">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                            </div>
                            <h4 class="card-title">Werbung</h4>
                            <p class="card-text text-muted">Want to get notified as soon as a new blog post is published?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <div class="pt-2 pb-1 text-center">
                                <img class="svgsizing" src="https://django-politicalrisk-files.s3.eu-central-1.amazonaws.com/Home_Pics/worldmap_01.png">
                            </div>
                            <h4 class="card-title">Werbung</h4>
                            <p class="card-text text-muted">Want to get notified as soon as a new blog post is published?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}