{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form method="post" action="{% url 'subscription' %}">
        {% csrf_token %}
        
        <fieldset class="form-group">
            {{ form|crispy }}
        <label>Subscribe to recieve the quarterly newsletter</label> <br>
        <input type="email" name="email" placeholder="Enter email to subscribe">
        <button class="btn btn-info" type="submit">Your ticket to great quarterly data</button>
        </fieldset>

    </form>
</div>    
{% endblock content%}